[2018-07-20 23:06] araikes opened #1212 "Using pre-run Freesurfer"
I recognize that this concept has been addressed in #1182 and I have read that thread prior to posting here. I have previously posted here on this topic but I'll refresh it for the current error. I have the most current version of fmriprep (updated today).

I have run Freesurfer (BIDS/Freesurfer v 6.0) using a longitudinal pipeline for 29 participants. The output from that is currently in `OUTDIR/

[2018-07-23 02:44] isukrit commented on #1199
Okay, now I have cleaned all the out directories and used the scratch option. I have run it with all the subjects using low memory option:
`sudo fmriprep-docker --fs-license-file /Volumes/Storage/Students/Sukrit/LMU_Data/Freesurfer_license/license.txt  /Volumes/Storage/Students/Sukrit/LMU_Data/LMU_BIDS_3 /Volumes/Storage/Students/Sukrit/LMU_Data/LMU_3_processed participant -w /Volumes/Storage/Stud

[2018-07-23 16:44] chrisfilo opened #1213 "--debug flag can be confusing"
The fact that the `--debug` flag yields poor normalization results (due to using testing configs) can be confusing - see https://neurostars.org/t/fmriprep-1-1-1-anat-only-t1-to-mni-poor-quality-nonlinear-registration/2143/2

I recommend renaming it to `--testing`.

[2018-07-23 16:47] chrisfilo opened #1214 "ERROR: talairach_afd: Talairach Transform: transforms/talairach.xfm ***FAILED*** (p=0.0455, pval=0.0034 < threshold=0.0050)"
[A user reported issues with talairach transform in recon-all](https://neurostars.org/t/fmriprep-1-1-1-anat-only-troubleshooting-talairach-afd-error/2134/). The issue was resolved by performing rough coregistration of the input images before feeding them to freesurfer:

[code]

I wonder if we should build this into FMRIPREP - ideally the coregistration would be only saved in the headers so no addi

[2018-07-23 17:19] oesteban opened #1215 "[DOC] Clearer statement of primarily features"
Following @TimVanMourik's open review comment (http://preprint.space/openreviewers/0000-0002-8155-8641), fMRIPrep should describe its primarily features more clearly and in detail:

- Automatic data type recognition
- Rich support of data types
- Rich visual performance feedback
- Increased performance by best-in-breed approach.

[2018-07-23 18:10] emdupre commented on #1215
It seems that this would, at least in part, overlap with the [Contributing to fMRIPrep](http://fmriprep.readthedocs.io/en/latest/contributors.html) section of the documentation, no?

[2018-07-23 18:39] danielkimmel opened #1216 "freesurfer crash because cannot create symbolic links in CIFS"
Hello,

I'm running fmriprep-docker.py under CIFS. The pipeline completes when skipping freesurfer, but when I include freesurfer, I get the error listed below. The issue appears to be that FS is attempting to create a symbolic link, which CIFS does not support. There are some workarounds proposed when using stand-alone freesurfer:
http://www.biac.duke.edu/forums/topic.asp?TOPIC_ID=1532

I tried t

[2018-07-23 18:42] oesteban commented on #1215
Yep, this would extend that section with more theoretical issues.

[2018-07-24 11:20] spitschan commented on #1203
Any suggestions?

[2018-07-24 15:32] oesteban opened #1217 "TraitError: The trait 'out_files' of a SplitOutputSpec instance is an existing file name"
I've just received via email the following error

[code]

This error is a potential duplicate of #936, and may also be related to nipy/nipype#2380.

First of all, I would really appreciate that you provided the contents of the file at the beginning, where it says "Saving crash info to...", so this file -> `[redacted path 1]/output/fmriprep/sub-01/log/20180723-131939_b51df0ea-fdb1-4218-9555-cd6e12a

[2018-07-24 16:12] oesteban commented on #1217
As per https://github.com/nipy/nipype/issues/2380#issuecomment-407453500, we'll need to wait for the next release of nipype, with (nipy/nipype#2639) that addresses this.

[2018-07-24 17:18] nblauch opened #1219 "fmriprep fails to find echo time info"
I am rerunning FMRIPREP on a dataset to get functional runs in a different space. My FMRIPREP version is the same as when I ran it before successfully (1.0.12). In the first 8/12 subjects, rerunning now fails due to an inability to find the echo time info from the field mapping scans. Oddly, this does not occur for subs 9-12. In the crash log (attached), the echo time info is clearly displayed in

[2018-07-24 17:32] nblauch opened #1220 "index out of range errors due to non-anatomical .nii derivatives being read as anatomical images"
Rerunning FMRIPREP on a subject who has gone through various post-processing pipelines poses an issue due apparently to FMRIPREP looking in any bids_dir/**/sub-{subid} folders. this requires keeping separate "pre-processed only" and "post-processing" BIDS directories to be able to rerun FMRIPREP (e.g. for func files in a new space) on subjects for whom post-processing has been done.

i think this

[2018-07-24 17:37] chrisfilo commented on #1220
Agreed. This behavior is weird - those should be excluded:
https://github.com/poldracklab/fmriprep/blob/master/fmriprep/utils/bids.py#L154

It could related to changes in pybids (CCing @tyarkoni) . Are you using the FMRIPREP version from Docker Hub? Are you using docker or singularity?

[2018-07-24 17:39] nblauch commented on #1220
v1.0.12 through docker

[2018-07-24 17:41] tyarkoni commented on #1220
Yeah this is probably due to changes in pybids--it's currently scanning `derivatives/` by default, and probably shouldn't be. Will try to push a fix later today.

[2018-07-24 17:44] chrisfilo commented on #1219
Please run the validator on the input data. As per [spec section 8.3.5.1](http://bids.neuroimaging.io/bids_spec.pdf#page=26) phasediff data requires two field EchoTime1 and EchoTime2. We should make the error message more clear.

[2018-07-24 17:53] nblauch commented on #1219
That fixes it. I now remember going in before to fix these. When I recreated my bids dir (per #1220 ) these edits were lost in translation.

Clearer error message would be great. Thanks Chris.

[2018-07-24 17:53] #1219 closed

[2018-07-24 17:55] tyarkoni commented on #1220
Oh, sorry--I didn't see that you're explicitly passing `exclude`. This could be a bug, separate from what I mentioned in my last comment (which is not a bug, just an undesirable feature); will look into it.

[2018-07-24 18:04] chrisfilo commented on #1220
for the reference we are using 0.6.3 release of pybids

[2018-07-24 18:15] tyarkoni commented on #1220
There's going to be a new release in the next day or two (for unrelated reasons), so I'll try to include a fix for this in that.

[2018-07-24 18:18] chrisfilo commented on #1220
Awesome! Thanks!
Best,
Chris

On Tue, Jul 24, 2018 at 11:15 AM Tal Yarkoni <notifications@github.com>
wrote:

[2018-07-24 18:31] tyarkoni commented on #1220
Okay I'm looking at this, and I'm not sure it's a pybids bug... we have tests for inclusion/exclusion arguments, and those seem to be working fine. If you're passing `exclude=['derivatives']`, that *should* filter out files that contain `'derivatives'` anywhere in the name. Before I get too deep into this, are there other plausible places the issue could be arising?

[2018-07-24 18:55] chrisfilo commented on #1220
I just read through the code again and I don't see where else this could come from. @nblauch do you have access to the working directory? Could you share the report.rst from the `bidssrc` node?

[2018-07-24 18:57] tyarkoni commented on #1220
Okay, I'll write some extra tests to simulate your use case--just for you!

[2018-07-24 19:07] nblauch commented on #1220
it was autodeleted but i will try to reproduce it. hang tight.

[2018-07-24 22:50] nblauch commented on #1220
I had to convert the report to .txt to attach but here it is.
[report.txt](https://github.com/poldracklab/fmriprep/files/2225730/report.txt)

this warning upon starting fmriprep might also be relevant:

/usr/local/miniconda/lib/python3.6/site-packages/grabbit/core.py:410: UserWarning: No valid root directory found for domain 'derivatives'. Falling back on the Layout's root directory. If this isn't

[2018-07-24 22:55] tyarkoni commented on #1220
@chrisfilo what version of grabbit are you using? The warning @nblauch pasted is from several releases ago, I believe. This may explain the problem you're having; there were pretty big changes to grabbit internally.

I still can't find any reason why exclusions would be failing. I suggest waiting till the next pybids release (probably in a couple of hours) and then trying with the latest. It's pos

[2018-07-24 22:56] chrisfilo commented on #1220
fmriprep 1.1.2 uses pybids 0.6.3 - we did not specify grabbit version. @nblauch which version of fmriprep are you using?

[2018-07-24 22:59] tyarkoni commented on #1220
Oh, if @nblauch is using an older version of fmriprep, this error would make sense. The issue should be fixed in recent builds.

[2018-07-24 23:06] nblauch commented on #1220
v1.0.12.

is there any way to fix this without upgrading? i'd like to stick to the same FMRIPREP for this dataset, and would greatly prefer not to rerun everything (including extensive post-processing). or @chrisfilo , would you not worry about switching versions from 1.0.12 to 1.1.2 within dataset?

[2018-07-24 23:14] tyarkoni commented on #1220
Sure, you could probably just `pip install --upgrade pybids`.

[2018-07-24 23:21] nblauch commented on #1220
hm, within the docker container?

i can also just keep my folders separate for now.

sorry for the late discovery, but it looks like this was fixed in #1141 . Earlier, exclude='derivatives' was not included in the call to BIDSlayout in bids.py.

[2018-07-24 23:22] chrisfilo commented on #1220
Glad it's sorted!

[2018-07-24 23:22] #1220 closed

[2018-07-25 15:27] stefanpsz opened #1222 "Running fmriprep docker image from XNAT with --fs-no-reconall option"
Hi all!!

I am tryinng to run the fmriprep docker image from XNAT 1.7 but I cannot get it to work.

As stated in the [XNAT BIDS apps internal list](https://wiki.xnat.org/display/CS/BIDS+Apps), that there is no straightforward way of mounting the FreeSurfer licence file into the image within XNAT, hence the --fs-no-reconall option should be used. The problem is that even when provided with such opt

[2018-07-25 15:32] chrisfilo commented on #1222
We still use freesurfer tools for example for creating robust T1w templates. They will require a license even if recon all is not run.

[2018-07-25 15:32] effigies commented on #1222
Unfortunately, we do at times FreeSurfer tools apart from `recon-all`, and so can't skip the license in general. However, if you only have one T1w image per subject, I think you won't necessarily need it.

It's possible you could use `--fs-license-file /dev/null`, and hope that no FreeSurfer commands are used, but I haven't tried this myself.

[2018-07-25 15:34] effigies commented on #1155
Hi @steanze was your issue resolved?

[2018-07-25 15:36] chrisfilo commented on #1222
I think your idea from the wiki of creating a wrapper image for running FMRIPREP with a site freesurfer licence is the most promising.

[2018-07-25 16:16] jclauneuro commented on #1213
It may be reasonable to just leave the flag as is but just make it more obvious to the user that they are running in `DEBUG` mode. This could be beneficial in two different locations:
1. the standard output log
2. the html reports

Also would be helpful to include a warning that the normalization results will be suboptimal when in this mode.

@chrisfilo suggested that I do a pull request. I'll loo

[2018-07-25 16:31] chrisfilo commented on #1213
Here are some useful instructions for new contributors: https://github.com/poldracklab/fmriprep/blob/master/CONTRIBUTING.md

I still think that just renaming the argument is an easier solution, but if you want to add more info to the reports you will have to modify the reports template: https://github.com/poldracklab/fmriprep/blob/master/fmriprep/viz/report.tpl and pass new variables to it.

[2018-07-25 16:50] #1177 closed

[2018-07-25 16:57] effigies commented on #1211
Closing as duplicate.

[2018-07-25 16:57] #1211 closed

[2018-07-26 08:07] stefanpsz commented on #1222
Will try. Thanks!

[2018-07-26 13:16] effigies commented on #1203
Hi, sorry about the slow response. `No resources available` is an indicator that new jobs can't be scheduled, because other jobs are using the resources. This is normal, and actually good, as it means that the scheduler isn't over-committing resources.

The reason you're seeing this because you have the verbosity set high enough to hit the DEBUG level of logging.

[2018-07-26 13:53] steanze commented on #1155
Hi @effigies ! Thanks for checking - we experienced some issues running fmriprep from the docker but we resolved them by generating a singularity image (.simg) from the docker container and running fmriprep from the .simg. So now everything is going smoothly.

[2018-07-26 13:57] effigies commented on #1155
Great! Closing for now. Please reopen or open a new issue if you have further problems.

[2018-07-26 13:57] #1155 closed

[2018-07-26 19:37] effigies commented on #1199
Hi @isukrit, how has this gone for you? Also, just a note that `--debug` is a developer flag that includes faster, less accurate registration. If you just want more output, use `-v` (for verbose).

Thanks for chiming in @emdupre!

[2018-07-26 19:40] effigies commented on #1207
8 GiB of RAM is really the lowest we recommend, and if you have a large dataset, you could expect that to be insufficient. I don't think we have a "minimum guaranteed run" number, but if you can get a machine with >16GiB of RAM, you should run into problems only with very large datasets, and I don't think I've heard of a problem for people able to throw 24 GiB at it.

[2018-07-26 19:42] effigies commented on #1209
If it's failing on `SignalExtraction`, it's almost certainly memory. Try using `--low-mem`.

We should probably try to catch `BrokenProcessPool` exceptions and make that clearer that it was very likely a memory issue.

[2018-07-26 19:46] effigies commented on #1208
There are two issues here. The first is this:

If you are using Docker for Mac or Docker for Windows, you may need to adjust your "File sharing" preferences.

If you need help with these instructions, please let us know.

The second issue is one that we should catch and dispose of. It's a failure (probably one-off) of the system we use to get usage statistics. It should have no effect on the actua

[2018-07-26 19:47] effigies commented on #1206
`--anat-only` is the correct approach in these cases. Thanks for chiming in, @mgxd!

@relyativist please re-open if you're having further issues.

[2018-07-26 19:47] #1206 closed

[2018-07-26 19:51] effigies commented on #1205
If each has a different task name, then you can use the `-t <task_name>` flag to run fMRIPrep separately for each task name, and you can use any parameters you like in these separate runs.

This may result in inconsistencies in the reports. Please let us know how this works out for you, and if there are any improvements that can be made in reporting, under these circumstances.

[2018-07-27 13:44] effigies commented on #1212
I'm sorry, I meant to respond to this earlier. The issue here is going to be that nipype's ReconAll interface evidently doesn't recognize a longitudinal reconstruction as complete, and attempts to resume.

In order to correctly handle this, we'll need to understand more about what the expected output of `recon-all` with a longitudinal pipeline should be. Could you share the following?

1) The sequ

[2018-07-27 17:17] oesteban commented on #852
Since nipy/nipype#2548 is closed now, I will go ahead and close this one as well. Please reopen if this happens again.

[2018-07-27 17:17] #852 closed

[2018-07-27 18:11] chrisfilo opened #1225 "ERROR! FOV=289.000 > 256 Include the flag -cw256 with recon-all!"
Originally reported at https://neurostars.org/t/freesurfer-error-fov-256

For files with unusually large FOV freesurfer needs to perform cropping. Example image
![image](https://user-images.githubusercontent.com/238759/43339235-a5f36c14-918d-11e8-8e9c-b310dcae13c8.png)

Suggested solution: detect if FOV is larger than 256 in any direction and add `-cw256` flag to recon-all. Add a red warning to th

[2018-07-27 18:29] ahafri opened #1226 "Isolated runs eliciting error on aCompCor and tCompCor (and confound.tsv files not produced)"
I have run fmriprep on 7 subjects, each with 3-4 sessions, and 8 or so runs per session.

Out of the 7 subjects, two subjects have had one run each (different runs) in which there are errors for aCompCor and tCompCor, and as a result no confounds.tsv file is generated.

I had gotten this error for a couple more runs than this, but I think it was a memory issue then; when I allocated more RAM for t

[2018-07-28 00:10] oesteban commented on #1216
I'm upstreaming this issue to Nipype - nipy/nipype#2663.

I may be wrong, but there is not much we can do in FMRIPREP proper about this problem. Please reopen if I'm missing something out.

[2018-07-28 00:50] #1043 closed

[2018-07-28 11:22] spitschan commented on #1203
Thanks. It appears though that the program gets stuck at some point:

[code]

This message was <12h ago, with no further information. Is there any way to know if it is stuck?

[2018-07-28 11:29] spitschan commented on #1203
Thanks, this is helpful, though I am not getting any messages every 2 seconds (the last of the "No resources available" messages is from <12h ago). `top` does not reveal any program using lots of CPU/mem.

[2018-07-28 12:00] effigies commented on #1203
If you're not getting any messages, then the pipeline is probably not still running, though why they would have stopped is unclear. (Unless you're `tail`ing logs and the log ran out of space.)

I would probably stop and retry. I would also *highly* recommend using `-w` flag to mount a working directory, so you don't have to start from the beginning every time.

[2018-07-28 22:00] spitschan commented on #1203
Thanks, I suspect this issue arose from using a terminal multiplexer (`screen`) and the log was just full.

[2018-07-28 22:00] #1203 closed

[2018-07-29 19:39] oesteban opened #1227 "[DOC] Add ME descriptions"
After merging #1024, we should add a couple of sentences to the `__desc__` of ME workflows. WDYT @emdupre ?

[2018-07-30 09:44] dangom opened #1228 "Is carpetplot's xlabel wrong?"
Minor bug, but I believe carpet plots xlabel meant to say Volumes or Time (TR) instead of Time (s). If not then the time scale is not being properly multiplied by TR.

I could PR but I don't know which fix makes more sense. In my opinion Time (TR) is more intuitive.

[code]

[2018-07-30 18:27] oesteban commented on #817
Hi, I'll try to close this discussion with permission from @chrisfilo, @jdkent and @nicholst.

After re-reading the whole thread, my impression is that we are safe to keep FMRIPREP working as it is implemented now, and recommend the following:

If you are to fit the "aggressively" denoised time-series, you can still use other regressors (with the exception of global signals?) if you orthogonalize

[2018-07-30 18:38] oesteban commented on #1172
Hi @imawla, did you finally post this question to neurostars?

Since your images are oriented in LPS (left-to-right, posterior-to-anterior, superior-to-inferior), yes, you can see that the AP axis is the second of the image grid. That corresponds to `j` in BIDS. You could

However, I cannot tell you with certainty the polarity of your images.

[This link](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/top

[2018-07-30 18:39] #1172 closed

[2018-07-30 18:40] oesteban commented on #1207
@aureliooo is this issue fixed? can I close it?

[2018-07-30 18:44] oesteban commented on #1192
Hi @aureliooo, did you finally resolve this?

Otherwise, could you please attach a more comprehensive log for this error?

[2018-07-30 18:46] oesteban commented on #1188
Hi @RdoubleA, did you finally overcome this problem?

If not, how can I help?

[2018-07-30 19:04] aureliooo commented on #1207
@oesteban Yes, I had to use a machine w more RAM in the end, but this is all good now. Thank you!

[2018-07-30 19:06] aureliooo commented on #1192
Hi @oesteban

I didn't exactly resolve this because I never figured out how to fix that error. However, I moved to a mac and used Docker for Mac and haven't had any problems with that error since. Thank you.

[2018-07-30 19:33] oesteban opened #1229 "[ENH] Zenodo citation on boilerplate"
Comes from https://github.com/poldracklab/fmriprep/pull/1024#discussion_r205953098

Depending on whether we consider that using the DOI to latest of zenodo (the solution given in #1024), this issue would be fixed with replacing the appropriate fMRIPrep version on the bibtex file. If we still want to use the DOIs pointing to particular versions, then this issue would include solving also that probl

[2018-07-30 19:34] #1006 closed

[2018-07-30 20:25] #1196 closed

[2018-07-30 20:28] oesteban commented on #1222
Please reopen if there is any further development. Thanks!

[2018-07-30 20:28] #1222 closed

[2018-07-30 22:12] jdkent commented on #817
@oesteban

non-aggressive case: Based on the [notebook](https://github.com/poldracklab/fmriprep-notebooks/blob/master/issue-817_aroma_confounds.ipynb), my current opinion is that one should be able to the use other confounds (such as global signal) without modification even if they were derived from the non-denoised data.

aggressive case: also should be okay to use the global signal without modif

[2018-07-30 22:32] chrisfilo commented on #1229
Thanks for opening this!

[2018-07-31 00:07] oesteban commented on #1162
I'll cut a new release as soon as #1160.

Since #1170 is now merged, this problem should be lesser with the new release.

[2018-07-31 00:08] oesteban commented on #1193
Closing as this is a duplicate of #1150

[2018-07-31 00:08] #1193 closed

[2018-07-31 00:09] oesteban commented on #1147
Hi @AzmatUllahKhan, did you overcome your issues?

[2018-07-31 00:10] oesteban commented on #1144
Hi @shirareznik, did you  manage to fix this problem?

[2018-07-31 00:11] oesteban commented on #1126
Hi @danielkimmel, did you solve these issues?

[2018-07-31 00:13] oesteban commented on #1124
Related #1190

[2018-07-31 00:15] oesteban commented on #1097
Hi @hcp4715, is this still an issue? We will release 1.1.1 as soon as possible (hopefully later today) and it should alleviate these memory issues. Please let us know if that worked for you.

[2018-07-31 00:15] oesteban commented on #1093
Related #1190

[2018-07-31 00:17] oesteban commented on #1039
Hi @bbfrederick, did mounting the volumes as "delegated" work for you?

[2018-07-31 01:52] oesteban commented on #979
Please reopen if this is not actually fixed.

[2018-07-31 01:52] #979 closed

[2018-07-31 01:54] oesteban commented on #881
As we are considering to branch a dMRIPrep out, I guess this makes more sense now.

[2018-07-31 01:57] oesteban commented on #813
related to #1229

[2018-07-31 02:03] oesteban commented on #1105
We are getting memory errors on readthedocs now. I think this is going to be unavoidable.

[2018-07-31 02:07] oesteban commented on #715
I think it is safe to close the question after a long time inactive. Please feel free to reopen if appropriate.

[2018-07-31 02:07] #715 closed

[2018-07-31 02:10] oesteban commented on #395
In the lights of the derivatives survey and after more than a year open, is this still something to be implemented?

[2018-07-31 02:13] oesteban commented on #329
Just to be clear, this is for the anatomical images.

[2018-07-31 02:14] oesteban commented on #664
Related to  #326

[2018-07-31 09:01] shirareznik commented on #1144
Hi
@oesteban ,

Regarding the original issue- I wasn't able to reproduce it since.

Regarding the working directory specification-
if I don't use the working directory option (which is a useful option, to my opinion)- it works.
 I would be happy to know when this option becomes available for docker for Windows users (I know that it depends on docker too).

Many thanks

[2018-07-31 19:46] #917 closed

[2018-07-31 20:25] oesteban commented on #1144
Hi @shirareznik, can you try using the `-w` option with a new option in the latest release (1.1.3) to set the user id?.

Something like:

[code]

Please let me know whether this worked for you.

[2018-07-31 20:29] oesteban commented on #395
I'm closing this one for now. @chrisfilo please reopen if this is still needed.

[2018-07-31 21:06] chrisfilo commented on #395
By closing this issue you might give an impression that you do not want such functionality in the package. Why not having such feature requests open, but tagged with `low priority` or `help needed`?

[2018-07-31 21:14] oesteban commented on #395
Yes, no problem, I was just trying to clean up a bit.

[2018-08-01 00:05] danielkimmel commented on #1126
Hi Oscar

Thanks, I've moved things over to a 2TB share so that the scratch has plenty of room. I never tried the low-mem option.

Cheers,
Daniel

[2018-08-01 00:07] #1126 closed

[2018-08-01 08:34] isukrit commented on #1199
It ran for 3-4 days. Now it's frozen to the following output:

[code]
It has been almost 5 days since it's been like this. What log files can I attach you help you?

[2018-08-01 13:14] effigies commented on #1199
It's possible that there was a crash that failed to register. What version of fmriprep are you using?

The relevant log files would be: `/Volumes/Storage/Students/Sukrit/LMU_Data/LMU_3_processed participant/freesurfer/sub-0025425/scripts/recon-all*.log`

[2018-08-01 14:05] danielkimmel commented on #671
Hi @psadil and @effigies,
I'm running into a very similar problem ... twice. The first time was on a low-powered machine that was running out of HDD space for the scratch. I'm now running on a server with 2TB of scratch and 32GB of mem. In general, fmriprep has been running well for single subjects on the high-spec'd box. However, when processing the full dataset (~25 subjects), it got through man

[2018-08-01 14:07] effigies commented on #671
Hi @danielkimmel, can you open a new issue? It's hard to track conversations in closed issues.

[2018-08-01 14:21] danielkimmel opened #1231 "fmriprep hanging"
Hello

I'm running into a very similar problem as in https://github.com/poldracklab/fmriprep/issues/671 ... twice.

The first time was on a low-powered machine that was running out of HDD space for the scratch. I'm now running on a server with 2TB of scratch and 32GB of mem. In general, fmriprep has been running well for single subjects on the high-spec'd box. However, when processing the full dat

[2018-08-01 14:36] effigies commented on #1231
If you're running out of space, my first guess would be that it's your working directory within the Docker container that's running out of space. Am I right in that you're using Docker, and not mounting a working directory? This would be a reasonable expectation with attempting to run 25 subjects in a single execution of fMRIPrep. (Incidentally, mounting the working directory will make re-running

[2018-08-01 14:41] effigies opened #1232 "Issue template"
We should create an issue template to avoid us having to ask for commonly-needed information. Things we need for bug reports:

1) Version of fMRIPrep being run.
2) Full command (specific directories could be obscured) including `docker`, `singularity`, or `fmriprep-docker`
3) If still running, are any processes consuming large amounts of memory/CPU, as determined by `top`/`htop`?

Anything else?

[2018-08-01 14:54] mgxd commented on #1025
Hi @oesteban - currently I have a few more pressing things, but will come back to this when I can.

fyi @edickie - we added some initial support for [workbench interfaces to nipype](https://github.com/nipy/nipype/tree/master/nipype/interfaces/workbench)

[2018-08-01 17:02] #1174 closed

[2018-08-01 17:14] danielkimmel commented on #1231
Hi @effigies ,

Thanks for the feedback.

Yes, I'm using fmriprep-docker.py

Here's the stuff about the docker container:
<img width="640" alt="pastedgraphic-3" src="https://user-images.githubusercontent.com/32337686/43537218-bc56cb92-958c-11e8-87b5-3e36fa0ef637.png">
<img width="640" alt="pastedgraphic-2" src="https://user-images.githubusercontent.com/32337686/43537219-bc6187f8-958c-11e8-98ed-437

[2018-08-01 17:24] effigies commented on #1232
We do have a infrequently-updated [FAQ](https://github.com/poldracklab/fmriprep/wiki/FAQ:-Frequently-asked-questions). We can add that, and have users check off a box saying "I have searched the FAQ for my issue" or similar.

[2018-08-02 04:29] isukrit commented on #1199
[recon-all-lh.log](https://github.com/poldracklab/fmriprep/files/2252065/recon-all-lh.log)
[recon-all-status-lh.log](https://github.com/poldracklab/fmriprep/files/2252066/recon-all-status-lh.log)
[recon-all-status.log](https://github.com/poldracklab/fmriprep/files/2252067/recon-all-status.log)
[recon-all.log](https://github.com/poldracklab/fmriprep/files/2252068/recon-all.log)

fmriprep version is

[2018-08-02 15:42] oesteban commented on #1144
Hi @shirareznik, did my latest suggestion make any difference?

[2018-08-02 15:50] oesteban commented on #1097
Hi @hcp4715 we have just released 1.1.3 which includes some new mechanisms to prevent this problem. Please reopen if you keep experiencing these memory errors with the new version.

[2018-08-02 15:50] #1097 closed

[2018-08-02 15:54] oesteban commented on #1147
Hi @AzmatUllahKhan, you could also reduce the run time avoiding FreeSurfer's surface reconstruction with the flag `--fs-no-reconall`. As a consequence, you will not be able to perform any surface-based analysis with the preprocessed results.

Please reopen if you have further questions.

[2018-08-02 15:54] #1147 closed

[2018-08-02 15:55] oesteban commented on #1162
Hey @chrisfilo, can we re-run latest 1.1.3 and see whether the new implementation of signal extraction solves this?

[2018-08-02 15:57] oesteban commented on #1166
Hi @tragus1, any progress troubleshooting this?

[2018-08-02 16:02] oesteban commented on #1165
Hi @brainconnectome, sorry for getting back to this late.

Can you post the file structure under `/lus/theta-fs0/projects/AD_Brain_Imaging/anal/EMBARC/image03/bids/`?

It seems you have several T1w images but I'm not sure what is going on.

[2018-08-02 16:03] oesteban commented on #1165
Also: fmriprep version? Have you tried with the latest 1.1.3?

[2018-08-02 16:04] oesteban commented on #1209
Hi @0zonebilly, we have addressed this issue and attempted to fix it with 1.1.3. Could you try that last version of fmriprep and reopen this issue if the memory error is still happening?

[2018-08-02 16:04] #1209 closed

[2018-08-02 16:06] chrisfilo commented on #1162
Unfortunately this is not possible at this moment.

[2018-08-02 16:10] oesteban commented on #1226
Hi @ahafri, this looks like a memory error (potentially duplicate of #1162, #1209, etc.).

First, we just have released 1.1.3 with a bugfix for this. Please check out that new version.

If the error is still happening, please set the flag `--mem-mb` to a low value (lower than your actual memory ceiling). For instance, if your machine has 32GB RAM, set that to some 20GB - `--mem-mb 20000`.

If this

[2018-08-02 16:12] oesteban commented on #1162
Okay, how can I try to replicate this on Sherlock? (meaning: some dataset where this happened and specs of the instance memory, cpu).

[2018-08-02 16:18] shirareznik commented on #1144
Many thanks- will check and update soon!
Sorry for the delay!

On Thu, Aug 2, 2018 at 6:44 PM, Oscar Esteban <notifications@github.com>
wrote:

[2018-08-02 16:18] chrisfilo commented on #1162
You could artificially limit memory. Alternatively you can try to use the monitor to compare memory consumption before and after the fix.

[2018-08-02 18:05] danielkimmel commented on #1231
Hi @effigies
I terminated the hung fmriprep run. FWIW, attached is the final terminal output.

Thanks!
Daniel

[crash-2018_08_01.txt](https://github.com/poldracklab/fmriprep/files/2254636/crash-2018_08_01.txt)

[2018-08-02 18:32] effigies commented on #1231
So it seems to say that you hit `^C` in the middle of garbage collection, but with the amount of memory you have, I'm going to guess that that was just chance. More likely you were in a busy loop, though it's not obvious what that was.

I'd still recommend not trying to run 25 subjects in a single instance of fMRIPrep.

[2018-08-02 23:35] oesteban opened #1233 "Run fmriprep-docker as user (-u) by default?"
This would allow users who are not in the docker group to run their workflows more conveniently without elevated privileges (provided they can run docker without sudo).

[2018-08-03 00:01] effigies commented on #1233
This seems reasonable to me, and pretty easy to auto-detect. We could check whether the scratch and output directories will be writable before dropping into Docker, too.

[2018-08-05 02:01] mgxd opened #1235 "Singularity build missing dependencies (1.1.3)"
[code]

[Full log here](https://pastebin.com/ahTvmjJ6)
Container was built from dockerhub using Singularity `2.4.5` and `2.5.1`
`singularity build fmriprep.simg docker://poldracklab/fmriprep:1.1.3`

[2018-08-06 08:59] AzmatUllahKhan commented on #1147
Hi @oesteban, preprocessing of my dataset is done, it took pretty much of my time.
Thankyou for your help.

[2018-08-06 12:46] effigies commented on #1235
Are you able to `singularity exec fmriprep.simg 3dQwarp` (or however one tries to execute a command in a Singularity container)? That will help narrow down whether it's a container issue or a dependency check issue.

[2018-08-06 12:47] effigies commented on #1235
Also, check whether `/usr/lib/afni/bin` is in your `PATH` inside the container.

[2018-08-06 14:58] mgxd commented on #1235
Should have also specified that `/usr/lib/afni/bin` is in the `PATH`.
And `3dQwarp` command shows documentation.

This may be a singularity issue, but I'll try building with the latest version (2.6.0) and let you know.

FWIW, `fmriprep-1.1.1` runs fine when built with singularity 2.5.1

[2018-08-06 15:42] mgxd commented on #1235
IMO, Nipype interfaces' `_cmd` should only include the executable, not include any flags or additional parameters (those can be set as defaults in the inputspec).

I can rework `afni.QwarpPlusMinus` to resemble [`fsl.ApplyXFM`](https://github.com/nipy/nipype/blob/master/nipype/interfaces/fsl/preprocess.py#L696), which is just a wrapper of FLIRT + parameter set by default

[2018-08-06 15:48] effigies commented on #1235
That sounds like a good long-term fix to me. And we should check the nipype docs to make sure that we specify that `_cmd` should only be the name of the executable.

[2018-08-09 13:55] effigies commented on #1181
Testing #1050 locally, this is much improved.
![ds001362_sub-01_mask](https://user-images.githubusercontent.com/83442/43903363-498cb39a-9bba-11e8-901e-b044d60dc3a3.png)

[2018-08-09 14:01] effigies commented on #1233
Been looking at this, and correctly handling Windows users is going to be a pain. I guess we could leave them as root and default to `-u` for posix users...

[2018-08-09 14:05] chrisfilo commented on #1181
Great. Now it's just a question if #1050 does not regress any other case and ds001362 to the CI tests.

[2018-08-10 04:03] isukrit commented on #1199
Okay, what I did was clear up space on my hard drive and ran fmriprep again. However, I am again stuck with a subject for which the processing is stuck for the past 4 days. Here is the output on the terminal:
`180806-10:51:49,939 nipype.workflow INFO:
	 [Node] Setting-up "_autorecon_surfs1" in "/scratch/fmriprep_wf/single_subject_0025425_wf/anat_preproc_wf/surface_recon_wf/autorecon_resume_wf/auto

[2018-08-10 04:15] oesteban commented on #1199
We definitely suggest running subjects separately. If you want to optimize (and you have a good number of cpu cores and a good amount of RAM), then check out these stats https://neurostars.org/t/how-much-ram-cpus-is-reasonable-to-run-pipelines-like-fmriprep/1086/5?u=oesteban

Seems like fMRIPrep goes well up to 4 participants per run. There are no tests beyond that, but I'd say that more than that

[2018-08-10 06:49] isukrit commented on #1199
Thanks @oesteban. In Docker, I have 24 CPUs, 28 GB Memory, 2 GB Swap.

If I have to run it for each subject, how do I do it? Should I specify a participant label and run it again for each subject? I had raised this before as well: https://github.com/poldracklab/fmriprep/issues/1196

[2018-08-10 14:48] effigies opened #1240 "futures package being installed in Docker image"
Despite nipype indicating that `futures` should only be installed for Python 2.7 (see [nipype/info.py#L151](https://github.com/nipy/nipype/blob/d2abc85cd98ea3a168a53306700312ca50eea87d/nipype/info.py#L151), we see the following in the Docker output:

[code]

I don't see this simply `pip install`ing nipype in a new conda environment locally, but it does occur within the Docker container. Upgrading

[2018-08-10 16:32] oesteban commented on #1240
Good catch

[2018-08-10 16:37] effigies commented on #1240
This is a nipype wheel-building problem, not a misconfiguration on our end. See nipy/nipype#2678.

[2018-08-10 17:13] DVSneuro commented on #940
Hi -- I think I'm getting the same error here:

    	 [Node] Error on "fmriprep_wf.single_subject_103_wf.func_preproc_task_ultimatum_run_01_wf.bold_confounds_wf.tcompcor" (/root/src/fmriprep/work/fmriprep_wf/single_subject_103_wf/func_preproc_task_ultimatum_run_01_wf/bold_confounds_wf/tcompcor)
    Traceback (most recent call last):
      File "/usr/local/miniconda/bin/fmriprep", line 11, in <modu

[2018-08-10 17:36] effigies commented on #940
Can you try running with the latest fMRIPrep, version 1.1.4? If you're still seeing the error, please open a new issue.

[2018-08-10 17:39] #1240 closed

[2018-08-10 18:55] oesteban opened #1241 "Compute MRIQC's metrics"
A prequel is poldracklab/mriqc#440

[2018-08-10 21:25] DVSneuro commented on #940
Thanks! That fixed it. Sorry, I was confused about the 'latest' tag (e.g., fmriprep:latest) and will use specific versions from now on (e.g., fmriprep:1.1.4). Thanks again!

[2018-08-10 21:39] effigies commented on #940
That's one of the issues with using Docker. If you've already pulled `:latest`, then it won't check for a newer one unless you use `docker pull poldracklab/fmriprep:latest`. This is another reason we recommend using the `fmriprep-docker` wrapper, and keeping it up to date with `pip install --upgrade fmriprep-docker`.

[2018-08-13 08:59] isukrit commented on #1199
`from subprocess import check_output, CalledProcessError
from tempfile import TemporaryFile
import os
import json
import shutil
import numpy as np

dataset = '3'
directory =  './LMU_BIDS_' + dataset
for subject in os.listdir(directory):

	if os.path.isdir(os.path.join(directory, subject)):

		os.makedirs(os.path.dirname('LMU_' + dataset + '_processed/' + subject + '/'), exist_ok=True)
		os.makedir

[2018-08-13 17:49] ahafri commented on #1226
Hey, I tried 1.1.3 but was having Freesurfer license issues (wasn't detecting my license file) so I stuck with 1.0.14. However, the `--mem-mb 20000` worked -- no `aCompCor` or `tCompCor` errors!

[2018-08-13 18:19] satra opened #1246 "does fmriprep use spin echo EPIs for SDC when available"
if our dataset has spin echo EPIs with blip up-down will fmriprep use them first before it uses the gradient echo BOLD runs?

for sdc, one can compute the warp from multiple sources, perhaps in a preferential order:
1. Explicit B0 fieldmaps
2. SE EPIs with multiple directions
3. BOLD runs with multiple directions
4. BOLD runs without multiple directions

since SE also has lower dropout, the correc

[2018-08-13 18:57] oesteban commented on #1226
Thanks for the update.

I strongly recommend you to update to the latest release (1.1.4), so please open a new issue describing what you tried, and how it doesn't work for you.

Also, please check on neurostars.org for users having similar issues: https://neurostars.org/search?q=license%20tags%3Afmriprep

[2018-08-13 18:57] #1226 closed

[2018-08-13 19:09] oesteban commented on #1199
I would go for something in bash, to avoid one more layer of python subprocesses.

[code]

Some good practices and fixes over the code you suggested:
- the "participant" argument is a key word, you were replacing it with the participant label
- although it is not mandatory, it is good to place the outputs of processing a BIDS dataset under the derivatives/ folder. Also it is good to write the vers

[2018-08-13 22:28] aroyucsf opened #1248 "Determining Microtime Resolution"
Hello,

I'm trying to determine the microtime resolution for our data. It is my understanding that since we ran slice time corrections (STC), the microtime resolution should be the same as the number of slices specified during STC. Where can I find this?

Thanks!

[2018-08-13 23:42] oesteban commented on #1248
If I understand correctly, the microtime resolution is something you can set in SPM analyses to calculate additional regressors (https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=spm;70bf5c7f.0904).

In principle, fMRIPrep does not modify anything that would change how you determine the microtime resolution.

[2018-08-14 05:26] isukrit commented on #1199
Okay, I will look for something in bash.
However, I will answer your queries. I wasn't using the participant label mistakenly, I purposely placed the output of every run in a separate folder given by participant label. I will add the  'participant' key word, though.
I used the `-w` because then I don't have to start the whole process again if it crashes midway. Is that right?

[2018-08-14 05:33] oesteban commented on #1199
As all BIDS Apps, fmriprep takes three mandatory parameters:

[code]

were `<analysis_level>` can be either `participant`, `group` or both `participant group`. For fmriprep there is not a group level, so `<analysis_level>` can only be `participant`.

In the script you posted, you had `+ str(subject) + ' --participant_label ' + str(subject) +`. The first `str(subject)` was incorrectly placed. You w

[2018-08-14 06:03] isukrit commented on #1199
I have edited my previous comment. Please have a look. :)

It was actually a part of the output folder path. However, I did miss the participant label. Let me edit this. I also don't want my outputs in the input directory and have accordingly edited the paths. I know it shouldn't be a problem, but I just want to be sure, since I have lost a lot of time on this already.
Here is the final bash scrip

[2018-08-14 06:10] oesteban commented on #1199
I think those `mkdir -p` are not strictly necessary, but I guess they don't hurt.

If you want to optimize your time, I'd first echo the command lines without executing. Have a look that all are fine, and run one manually. Check whether it works and then trigger all of them.

Make sure you have lots of space in your `-w` directory.

[2018-08-14 16:29] oesteban commented on #1231
Hi @danielkimmel, any news on this?

[2018-08-14 16:30] oesteban commented on #1199
I think this issue can be deemed as fixed. If you encounter any new problems, please open a new one. If you run on any of the issues discussed here, then feel free to reopen whenever you need.

Glad it worked out!

[2018-08-14 16:30] #1199 closed

[2018-08-14 16:31] oesteban commented on #1217
Apparently, the person experiencing this problem managed to fix the problem.

[2018-08-14 16:31] #1217 closed

[2018-08-14 19:35] oesteban opened #1251 "[BUG] ``collect_data`` dropping valid BIDS datasets"
As per https://neurostars.org/t/fmriprep-no-bold-images-found-for-participant/2245/17.

When running:
[code]
the outputs are empty. However the pybids query seems to find files:
[code]

[2018-08-14 22:19] #1229 closed

[2018-08-15 04:09] isukrit commented on #1199
Error for single subject again. The terminal output looks like this:
[code]
I have attached the log file. What am I doing wrong?
[recon-all.log](https://github.com/poldracklab/fmriprep/files/2289162/recon-all.log)

[2018-08-15 05:07] oesteban commented on #1199
For some reason, freesurfer is unable to write under `/Volumes/Storage/Students/Sukrit/LMU_Data/derivatives/fmriprep_1.1.4/sub-0025402/freesurfer/sub-0025402/stats`.

Can you please check on that folder?

[2018-08-15 06:59] isukrit commented on #1199
@oesteban, I updated fmriprep from 1.1.2 to 1.1.4 (latest version?) and ran it again. It ran successfully for the subject.

[2018-08-15 21:54] danielkimmel commented on #1231
Hi Oscar

I've been away and haven't tested again running one fmriprep call per subject. I'll test it out next week and let you know.

Thanks!
Daniel

[2018-08-17 13:22] isukrit opened #1252 "Input device is not a tty, because of the -it option in docker?"
Hi, it is not a problem/bug per se but while running a bash script for fmriprep-docker using the nohup command, we get the error "the input device is not a tty". I am trying to run it on a remote Linux machine (as discussed in https://github.com/poldracklab/fmriprep/issues/1199). Is there a way we can remove this? This has to do with the usage of -it option rather than -i option while running dock

[2018-08-17 13:47] effigies commented on #1252
That sounds plausible, but I don't have any specific experience with `nohup` + Docker. For a little context, the fmriprep-docker command is meant to abstract away the details of Docker, so adding flags to modify Docker flags starts getting into the territory where it requires further Docker knowledge. For users that need different invocations, we provide the `docker` command that we construct, so

[2018-08-17 13:54] tsalo commented on #1227
I know that the ME workflows are likely to change given the other `me-epi` issues and the development of `tedana`, but I'd be happy to take a crack at this. I'm fairly naive regarding fmriprep's organization, but it looks like the only workflow that needs to be updated is [init_bold_t2s_wf](https://github.com/poldracklab/fmriprep/blob/18019ea0de7f6523ff81f7475202997225002ecc/fmriprep/workflows/bol

[2018-08-17 14:05] emdupre commented on #1227
Thanks @tsalo ! That would be great, I think.

[2018-08-17 20:49] #1227 closed

[2018-08-18 09:34] chrisfilo opened #1254 "rois_plot is missing resources specification"
https://github.com/poldracklab/fmriprep/blob/38d6e0492662069de3ad634d51b885ec1f2ded65/fmriprep/workflows/bold/confounds.py#L207

See https://neurostars.org/t/fmriprep-stopped-due-to-memory-error/2275

[2018-08-20 20:46] cmpetty commented on #1016
Yes .. attaching a crash report from a recent subject

[crash-20180818-031928-af155-rename_src-06923c63-7c38-4d2d-a79e-bcce6c9e5626.txt](https://github.com/poldracklab/fmriprep/files/2303902/crash-20180818-031928-af155-rename_src-06923c63-7c38-4d2d-a79e-bcce6c9e5626.txt)

[2018-08-20 21:02] effigies commented on #1016
Thanks for the report. What version of fMRIPrep are you running, and how is it installed (Docker, Singularity, pip, etc.)?

[2018-08-21 01:25] cmpetty commented on #1016
v1.1.2 ... I have both a relatively fresh install from 7/9 as well as the singularity version

`[cmp12@blade24 ~]$ fmriprep --version
fmriprep v1.1.2

[cmp12@blade24 ~]$ singularity run /usr/local/packages/singularity/images/fmriprep.simg --version
fmriprep v1.1.2
`

[2018-08-21 03:12] oesteban commented on #1016
@cmpetty I think this is related to #936 and #1217 that seem to have been fixed in version 1.1.3 that pinned Nipype to 1.1.1. Could you please update and check whether we indeed fixed this issue?

The latest stable release is 1.1.4. There are a bunch of features in that release that I would recommend over 1.1.2.

[2018-08-21 03:51] jdkent commented on #1254
What would be the appropriate size for the resources specification, the size of the bold file?

[2018-08-21 04:28] oesteban commented on #1254
I'd say that would be a good approximation.

[2018-08-21 04:35] shirareznik commented on #1144
Hi Oscar!
Sorry for the delay in my response- after updating to the current version-
this option works fine!
Many thanks for your help!

On Thu, Aug 2, 2018 at 6:44 PM, Oscar Esteban <notifications@github.com>
wrote:

[2018-08-21 04:38] oesteban commented on #1144
Thanks! Great you got it sorted out!

[2018-08-21 04:38] #1144 closed

[2018-08-21 15:40] #1254 closed

[2018-08-21 15:49] effigies commented on #1254
Just a quick note that at least loading the reference image and masks should be ~4x one volume, not the size of the original BOLD series, but not a big deal for now. (Also, creating an SVG is an operation of unknown memory usage.) We can adjust once we get profiling going.

[2018-08-22 13:04] cmpetty commented on #1016
@oesteban Thanks.  I updated to 1.1.4 and issue seems to be resolved.

[2018-08-22 14:12] effigies commented on #1016
Great! Closing this for now.

[2018-08-22 14:12] #1016 closed

[2018-08-23 00:35] tsalo opened #1257 "[DOC] Enable text wrap in documentation tables?"
Tables on the RTD site do not have text wrapping enabled, so there is often a lot of horizontal scrolling involved in reading them, especially for rows with very long descriptions (like the `--template-resampling-grid` parameter on the Usage page). It's easy to enable text wrapping in the tables, per [this set of instructions](https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html). I c

[2018-08-23 01:16] oesteban commented on #1257
I think this is a good idea in general. The only issue is that most of the tables susceptible of this improvement are automatically generated by the argparse sphinx extension. I'm not sure it will be easy to play with.

Sure, that be great!

[2018-08-23 13:52] fphsFischmeister opened #1259 "Excessive memory usage despite mem_mb"
Dear all,

we are currently switching to fmriprep and want to run all analyses in singularity on our local HPC. Everything works fine using smaller datasets - we had a test set of 200 volumes.
We now want to analyse a 60 subject dataset consisting of a T1w image, a fieldmap and 4 functional runs with 850 volumes each (high res. EPI with MB=4). Since we expected some memory issues we set mem_mb 500

[2018-08-23 17:07] danielkimmel opened #1260 "Broken process pool"
Hello,

Since issue #1231, I've updated fmriprep-docker to 1.1.4 and am running on a single participant. However, the program crashed citing:
`exception calling callback for <Future at 0x7fefd5eecac8 state=finished raised BrokenProcessPool>`

Partial log is attached. (I couldn't find the saved logs in the output or work directories, so I just copied what was available in the terminal buffer)

Also

[2018-08-23 17:54] sundelinustc opened #1261 "Error: wf.bold_surf_wf.rename_src"
Dear fmriprep experts,

I met an error when preprocessing a sample data (1 T1 image, 6 runs of task images, and 1 run of resting state image) using fmriprep singularity version on a cluster:

Errors
Node Name: fmriprep_wf.single_subject_01_wf.func_preproc_task_Predator_run_05_wf.bold_surf_wf.rename_src
Node Name: fmriprep_wf.single_subject_01_wf.func_preproc_task_Predator_run_03_wf.bold_surf_wf.re

[2018-08-24 12:01] isukrit opened #1262 "How to get BOLD signal for voxels in MNI space after preprocessing with fmriprep?"
This will seem like a trivial question, but I am confused about what the output space of fmriprep func is. I think it is MNI152NLin2009cAsym for my pipeline, but I wanted confirm the steps that I need to do to get the time series for voxels I have MNI coordinates of. So here is the situation, I have some MNI coordinates and I need to extract the time series of voxels at those MNI coordinates from

[2018-08-27 13:03] effigies commented on #1260
Hi @danielkimmel, sorry for the slow response.

Here's the error and a little context:

[code]

A child process terminating abruptly generally means it was killed by the operating system, which probably indicates that fMRIPrep exceeded memory limits. It's unclear whether the killed process requested a large amount of memory, or if other processes were using a large amount and it was merely unlucky

[2018-08-27 14:43] effigies commented on #1261
Can you provide the version of fMRIPrep you're using and the output logs? It is unclear from what you have provided what error is being encountered.

[2018-08-27 14:52] sundelinustc commented on #1261
Thank you for the feedback!

We are running fMRIPrep 1.1.4 on a cluster using singularity.

The output log please see below. We tried different datasets but met the same errors on 90% of them.

Node: fmriprep_wf.single_subject_03_wf.func_preproc_task_rest_wf.bold_surf_wf.rename_src
Working directory: /mnt/Analyses/fMRIPrep/scratch-03/fmriprep_wf/single_subject_03_wf/func_preproc_task_rest_wf/bold_

[2018-08-27 14:57] #1257 closed

[2018-08-27 14:59] effigies commented on #1261
So this is a duplicate of #1016, which we thought had been resolved in 1.1.4. I'll have another look.

[2018-08-27 15:05] effigies commented on #1261
Can you share your full Singularity command line? Also, `echo $PYTHONPATH` from whatever environment you're submitting your jobs from.

[2018-08-27 15:14] sundelinustc commented on #1261
Thanks! The singularity command line please see below (we are submitting cluster jobs, but the fmriprep-related command line is below):
======================================
/usr/local/packages/singularity/bin/singularity run -B \
/mnt/BIAC/carr.dhe.duke.edu/Data/Lab/Delin/Predator:/mnt  \
/usr/local/packages/singularity/images/fmriprep.simg  \
/mnt/Origin /mnt/Analyses/fMRIPrep \
participant --p

[2018-08-27 15:30] sundelinustc commented on #1261
[ds366@blade17 Predator]$ /usr/local/packages/singularity/bin/singularity run /usr/local/packages/singularity/images/fmriprep.simg --version
fmriprep v1.1.4
[ds366@blade17 Predator]$ /usr/local/packages/singularity/bin/singularity exec /usr/local/packages/singularity/images/fmriprep.simg python -c 'import nipype; print(nipype.__version__)'
1.1.2

[2018-08-27 15:32] effigies commented on #1261
Okay, thanks for all the information. I think this is going to have to be fixed in nipype. Let me open an issue there.

[2018-08-27 15:36] sundelinustc commented on #1261
Great thanks!

[2018-08-28 20:00] emdupre opened #1264 "Preferred usecase for gitter chatroom ?"
I had a quick question on my WIP PR that I thought might be better answered in a chatroom like [gitter](http://gitter.im). There is a [FMRIPREP gitter chat](https://gitter.im/poldracklab/fmriprep?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge); however, it is relatively inactive so I was unsure if this was an appropriate place to post. I checked the [Contributing guideli

[2018-08-29 01:42] effigies commented on #1264
I'll add the fmriprep gitter to my Riot client, but if people aren't logged in, Gitter tends to get slow responses, as it waits a bit to send a notification email.

I think the Brainhack slack tends to be the most responsive for quick questions.

[2018-08-29 15:09] effigies commented on #1261
Sorry that took so long. I've given replicating it a couple tries. Do you think you could do the following:

[code]

That should give you a prompt. You should then be able to copy and paste the example workflow I wrote in nipy/nipype#2687. If that fails in the same way, then we should be able to test solutions.

[2018-08-29 15:33] sundelinustc commented on #1261
Thank you so much! I tried to follow your instructions. Please see the below feedback:

[ds366@blade17 Predator]$ /usr/local/packages/singularity/bin/singularity exec /usr/local/packages/singularity/images/fmriprep.simg python
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

... DEFAULT_MEMOR

[2018-08-29 15:44] effigies commented on #1261
Okay. That's what I get, too. So I'm very unclear on what's causing your fMRIPrep to consistently produce that specific failure. Could you post the full log? Perhaps there's another failure occurring.

[2018-08-29 16:29] sundelinustc commented on #1261
Please see the html report and the crash report attached:
[html.pdf](https://github.com/poldracklab/fmriprep/files/2332946/html.pdf)
[crash-20180824-211311-ds366-rename_src-08ff8723-3480-4c57-9472-c064c7086e81.txt](https://github.com/poldracklab/fmriprep/files/2332947/crash-20180824-211311-ds366-rename_src-08ff8723-3480-4c57-9472-c064c7086e81.txt)

[2018-08-29 16:35] effigies opened #1265 "Save logs"
We create a log directory, but for some reason it doesn't get populated, and we are therefore unable to ask users to provide logs.

Very often the context in which an error occurs is as important as the specific error, which may be the product of an upstream issue that was not caught by traits.

[2018-08-29 16:37] effigies commented on #1261
Do you have the stdout for the run? The actual error may have occurred prior to this node, and it is only causing an exception at this point.

Also, does the following file exist on your filesystem: `/home/ds366/linux/fsaverage5.nii`

If so, can you run `ls -l /home/ds366/linux/fsaverage5.nii`?

[2018-08-29 16:40] sundelinustc commented on #1261
Thanks!

It seems that there are outputs for the functional images:
[ds366@blade17 Predator]$ ls Analyses/fMRIPrep/fmriprep/sub-03/func
sub-03_task-rest_bold_confounds.tsv
sub-03_task-rest_bold_space-MNI152NLin2009cAsym_brainmask.nii.gz
sub-03_task-rest_bold_space-MNI152NLin2009cAsym_preproc.nii.gz
sub-03_task-rest_bold_space-T1w_label-aparcaseg_roi.nii.gz
sub-03_task-rest_bold_space-T1w_label-ase

[2018-08-29 16:46] effigies commented on #1261
Sorry for the confusion. [stdout](https://en.wikipedia.org/wiki/Standard_streams#Standard_output_(stdout)) refers to the output in the terminal. It may have been saved in a log file associated with the job by your batch system.

[2018-08-29 16:55] sundelinustc commented on #1261
Aha, sorry for the misunderstanding. We often submit cluster jobs using "qsub" function and get emails informing us the jobs have been completed (very simple, just the begin and end time). So, there is no terminal output.
I will run the fmriprep commands in the terminal. But please wait for a few hours to get the final reports.
Many thanks!

[2018-08-29 17:04] effigies commented on #1261
`qsub` should cause files to be created of the form `<jobname>.['e'|'o']<job_id>'.'<task_id>`, where those with `o` are stdout, and `e` are stderr.

[2018-08-29 17:13] aureliooo commented on #1261
Here is the full log!

[Job Report.pdf](https://github.com/poldracklab/fmriprep/files/2333074/Job.Report.pdf)

[2018-08-29 17:48] sundelinustc commented on #1261
Yeah, my colleague aureliooo helped to find the job report as shown above.

[2018-08-30 13:18] sundelinustc commented on #1261
This problem seems to be resolved by my colleague aureliooo! It seems the working directory causes parallel processing of certain nodes and sometimes they interfere with each other and cause missing files. The solution is to set the working directory flag to "-w $TMPDIR". We tested it on at least 16 subjects and fmriprep ran smoothly with no errors.

[2018-08-30 17:47] chrisgorgo opened #1266 "AttributeError: 'NoneType' object has no attribute 'trait_get'"
[code]

[2018-08-31 15:50] oesteban opened #1267 "[ENH] Add scale bars to all plots"
All mosaics should contain scale bars (https://github.com/nilearn/nilearn/pull/1743)

[2018-08-31 16:25] romainVala opened #1268 "Sanitize long paths in LTA files"
Hello

I hope it is the wright place to report the bug :
I get systematic Segmentation fault for mri_vol2vol.bin when performing the corregistration of the bold data onto the freesurfer T1.

[code]

I then notice that by just changing the content of registration.lta, the exact same  mri_vol2vol command would work :

Here is my registration file :

The problem comes from

if I then change it to

th

[2018-08-31 16:47] effigies commented on #1268
Thanks for the report. We will indeed need to work around this, but it would be worth notifying Freesurfer, as well. Their [issues page](https://github.com/freesurfer/freesurfer/issues) is not very active, so you may prefer to email the [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/freesurfer).

[2018-08-31 16:51] effigies commented on #1268
Would you be interested in [submitting a pull request](https://github.com/poldracklab/fmriprep/blob/master/CONTRIBUTING.md) to fix this issue?

I think it could be done with a fairly simple interface that we place after the mri_coreg/bbregister nodes. I'd be glad to help you through the process.

[2018-08-31 17:10] emdupre commented on #1264
Ok ! It would just be great to document what the preferred workflow is -- for example, right now the readme links to the gitter channel, which could be removed if you want to encourage people to instead use the slack !

[2018-08-31 17:13] effigies commented on #1264
I'm okay with any channel, really, as long as I know to monitor it. @oesteban @chrisfilo Do you have preferences?

[2018-08-31 17:28] chrisfilo commented on #1264
I don't feel strongly about it, but in terms of growing a knowledge base I much prefer a system like neurostars. Providing support via instant messaging puts a lot of stress on maintainers and tends to lead to past questions being lost and hard to find.

In short - I don't oppose the notion, but I would nudge users to use neurostars and keep gitter to dev chatter.

[2018-08-31 18:35] emdupre commented on #1264
That seems very reasonable to me ! Would it make sense, then, to remove the (gitter) chatroom from the README and instead link to the (slack) chatroom in the [Contributing section of RTD](https://fmriprep.readthedocs.io/en/stable/contributors.html#adding-dependencies) ?

Do you have any suggestions for when devs would want to reach out there vs in issues ? Having [some specific language](https://g

[2018-08-31 22:17] oesteban commented on #1268
This is somewhat related to #768, isn't it?

[2018-09-01 01:32] effigies commented on #1268
Oh yes. I knew we'd done something similar, but hadn't realized how similar. So we could patch `BBRegister` and `MRICoreg` interfaces with the same adjustment.

[2018-09-01 13:55] poldrack commented on #1175
just wanted to upvote this one again (just trying to analyze myconnectome data again).

[2018-09-04 02:05] #483 closed

[2018-09-04 02:05] #433 closed

[2018-09-04 02:05] #718 closed

[2018-09-04 14:43] chrisfilo commented on #449
This potentially fixes https://neurostars.org/t/fmriprep-coregistration-and-unwarping-error/2377 which comes with test data.

[2018-09-04 15:01] romainVala commented on #1268
If you do not have a quick solution I can give a try ...
but I am not familiar with nipype, if you could guide me where to look, or how can I see the changes you made for the similar problem?

[2018-09-04 15:13] effigies commented on #1268
The fix was here: https://github.com/poldracklab/fmriprep/pull/778/files

The current version of that fix can be found here:

https://github.com/poldracklab/fmriprep/blob/510f28db4aab8a6adde0ccadeba2da7d78ed696e/fmriprep/interfaces/freesurfer.py#L193-L222

So a fix for this would look like:

1) Create `PatchedBBRegister` and `PatchedMRICoreg` classes, subclassing from `fs.BBRegister` and `fs.MRICo

[2018-09-05 15:18] elmsch opened #1271 "error: 'subjects_dir' trait of a BIDSFreeSurferDirOutputSpec instance must be a directory name"
Hi,
I ran into an error using the following command:

[code]

Here is the error message:

[code]

Any help will be greatly appreciated!
Elmsch

[2018-09-05 15:46] effigies commented on #1271
It looks as though `/srv/data/Users/someone/something/Prep/freesurfer` was unable to be created. Does the directory exist, and if not, are you able to `mkdir` it, yourself? It may be a permissions issue.

[2018-09-07 07:49] elmsch commented on #1271
Thanks a lot for your help, everything works fine now.

[2018-09-07 08:53] #1271 closed

[2018-09-07 13:02] romainVala commented on #1268
Hi thanks
I start to have a loock and I am not sure to look at the wrigh files

for fs.BBRegister you refer to the class define in
niworkflows-0.4.3-py3.6.egg/niworkflows/interfaces/registration.py
class BBRegisterRPT

if yes I will need to make a pull request also in https://github.com/poldracklab/niworkflows/ ?

Sory for the confusion

[2018-09-07 13:54] effigies commented on #1268
Ah, yes, I'd somewhat forgotten about that aspect of it. I think for now let's stay in fMRIPrep. We can create a [mixin](https://en.wikipedia.org/wiki/Mixin#In_Python) like this:

[code]

This takes advantage of post-run-hooks in Nipype interfaces, which are guaranteed to run after the interface has completed, and before any unused files are cleaned up.

Now instead of writing the same patch for e

[2018-09-07 15:30] romainVala commented on #1268
Ok I made just PatchedBBRegisterRPT and PatchedMRICoregRPT
I hope it is fine, at least it works localy
I did not put too much comment ... todo ...
it is my first pull request, not sure also about the process

I'll see on monday
++

[2018-09-08 04:17] chrisfilo opened #1275 "In case T2w is not present generate it from T1w"
Using https://github.com/uw-biomedical-ml/mri2mri

[2018-09-10 14:07] mgxd commented on #1259
@fphsFischmeister we encountered this same issue within our lab - @effigies suggested that Nipype's new MultiProc (using `concurrent.futures`) may have something to do with this. To test, we used the `--use-plugin` argument to specify Nipype's old MultiProc and passed in the following yaml file:
[code]
Upon rerunning, this seemed to fix the memory issue

[2018-09-10 17:43] fphsFischmeister commented on #1259
Dear @mgxd,  thanks for the info. Just tried your suggestion but unfortunately I only receive an

`ModuleNotFoundError: No module named 'yaml'`

error. Not sure what I did wrong. We are using fmriprep built within singularity 2.5.2 on the 30th of August.

Thanks again for any suggesting.

[2018-09-10 17:51] mgxd commented on #1259
`pyyaml` was missing from the dependencies until #1272 - a new image should appear fairly soon now that [`1.1.6`](https://github.com/poldracklab/fmriprep/releases/tag/1.1.6) is released.

FWIW, we worked around this by binding a local install of the `pyyaml` library to the miniconda environment within the container.
[code]

[2018-09-11 17:01] oliver-xie commented on #1260
Hello, @effigies. We have been having similar issues with 1.1.4 using singularity on Sherlock. It just hangs there.

For example,

exception calling callback for <Future at 0x7fb10eecbda0 state=finished raised BrokenProcessPool>
Traceback (most recent call last):
...
concurrent.futures.process.BrokenProcessPool: A process in the process pool was terminated abruptly while the future was running or

[2018-09-12 16:11] chrisfilo opened #1276 "Change N4 parameters"
I learned that using 5 instead of 4 iteration gives more homogenous white matter

`N4BiasFieldCorrection -d 3 -i $input.nii -o $output.nii -c \[50x50x50x50x50,1e-06\]`

This is based on comparison by Philip Kohn reported by Yunxia Tong.

[2018-09-12 16:35] oesteban opened #1277 "FLAIR in BIDS input data not used for Freesurfer surface ``recon-all``"
Reported with many details here: https://neurostars.org/t/fmriprep-flair-in-bids-input-data-not-used-for-freesurfer-surface-recon-all/2432/3?u=oesteban

[2018-09-13 13:39] chrisfilo opened #1279 "Pin grabbits and pybids to specific versions in Dockerfile"
These two packages evolve quickly and often break backwards compatibility. We should pin them to be in control when our side needs updating when pybids API changes.

[2018-09-13 14:38] #449 closed

[2018-09-13 16:31] effigies opened #1282 "Update boilerplate to correctly handle single-band references"
Following #1270, we need to update the boilerplate to indicate whether an sbref was used or a reference image was estimated.

[2018-09-14 08:28] oesteban commented on #1279
#1281 works for containers. The python distribution requires we also set versions on the setup script (i.e. [here](https://github.com/poldracklab/fmriprep/blob/eb7e4a5644d0d9788e1a51d7c630eae79f212bfb/fmriprep/__about__.py#L97-L98))

[2018-09-14 13:45] effigies commented on #1279
Are we worried about that?

[2018-09-14 13:47] oesteban commented on #1279
Oh no, just to note it down

On Fri, Sep 14, 2018, 15:45 Chris Markiewicz <notifications@github.com>
wrote:

[2018-09-14 13:48] chrisfilo commented on #1279
I personally wouldn't be.

Best,
Chris

PS Apologies for brevity and potential typos. This message was composed on
a phone.

On Fri, Sep 14, 2018, 9:45 AM Chris Markiewicz <notifications@github.com>
wrote:

[2018-09-17 07:06] lukassnoek opened #1287 "Pepolar unwarping: QwarpPlusMinus requires a value for input 'in_file'"
Hi!

I'm trying to preprocess a dataset using the 'pepolar' (blip-up, blip-down) technique with fmriprep (using the Docker interface, version 1.1.6). It crashes with the following error message:

`QwarpPlusMinus requires a value for input 'in_file'`

My data passes the `bids-validator` checks, so I don't think the problem is caused by the data itself.
I don't know how relevant it is for solving th

[2018-09-17 11:03] oesteban commented on #1260
Hi Oliver, if you are using sherlock, please double check that you are actually requesting enough memory.

Please have a look into these submission scripts:

https://gist.github.com/oesteban/5947d28caf6c3750e0a2f2aa09102702

[2018-09-18 16:50] oliver-xie commented on #1260
Hi Oscar,
Thanks for the tip.
I used the configuration in your script
[code]

This time fmriprep went further but still crashed before finishing with similar error.

fslstats /work/fmriprep_wf/single_subject_04sess02pl01_wf/func_preproc_ses_session_task_run_02_wf/ica_aroma_wf/bold_mni_trans_wf/merge/vol0000_xform-00000_merged.nii -k /work/fmriprep_wf/single_subject_04sess02pl01_wf/func_preproc_ses

[2018-09-18 17:06] effigies commented on #1287
Ah, I see the problem. Some inputs got renamed in an upstream refactor in nipype (nipy/nipype#2674).

Thanks for the report. I'll submit a fix and we can release today or tomorrow.

[2018-09-18 19:40] effigies commented on #1287
Hi @lukassnoek, are you able to verify that #1289 fixes the issue for you? The easiest way to check is to use the `fmriprep-docker` wrapper and [patch in the working repository](https://fmriprep.readthedocs.io/en/stable/contributors.html#patching-working-repositories). Please let me know if you need any help.

[2018-09-19 02:43] chrisfilo opened #1290 "Output aparcaseg in requested output spaces"
Right now aparcaseg is being produced only for `bold_space-T1w` even though MNI was specified as an output space. Context: https://neurostars.org/t/segmentation-compartment-files-in-functional-space-resolution-for-after-fmriprep/2486

[2018-09-19 08:38] lukassnoek commented on #1287
Sure thing! I cloned your repository (https://github.com/effigies/fmriprep) and changed to the fix-branch (`git checkout fix/qwarpplusminus`) and then tried the following command:

[code]
...which generated the following docker-command:

[code]
... but this gave the following error:

[code]
Maybe I'm using the `-f` flag the wrong way?

[2018-09-19 14:14] lukassnoek commented on #1287
Ah, yeah, now it works! At least, it starts running, but I get the following error:

[code]

[2018-09-19 15:08] effigies commented on #1287
I think I resolved that issue with nipy/nipype#2705. Could you try patching that in, as well?

[2018-09-19 15:47] lukassnoek commented on #1287
Yes, seems to work!

Thanks for fixing this!

[2018-09-19 16:09] #1287 closed

[2018-09-19 16:10] effigies commented on #1268
Fixed in #1274.

[2018-09-19 16:10] #1268 closed

[2018-09-19 16:12] effigies commented on #1287
Great! You'll need to keep using this until the release. Given that we're going to need to depend on fixes to nipype, I think we'll put off the release until Monday. If we need it sooner, we can patch the interface here.

[2018-09-19 17:23] Irisfee opened #1291 "No space left on device"
Hi,

I am running fmriprep on docker with CPUs:12 and memory:26 GB for a single subject with 1.7iso.

I run fmriprep with:

 fmriprep-docker /Users/***/Desktop/***/Nifti /Users/***/Desktop/*** participant --output-space T1w template fsaverage6 --fs-license-file /Applications/freesurfer/license.txt -vvv --low-mem --notrack --resource-monitor

I got the error:

I am wondering why it reported that no

[2018-09-19 17:29] effigies commented on #1291
Because you're not passing the `-w` flag to `fmriprep-docker`, the working directory is being constructed inside the Docker image, which may have more constraints than disk space. You can check your Docker settings.

Alternately, you can try passing a `-w <some-scratch-directory>` option. This will also have the advantage that, if something fails, you can pick up where you left off.

[2018-09-19 18:33] effigies commented on #1290
Ah, I see.

[2018-09-20 11:08] lukassnoek commented on #1287
Thank you so much for the quick fix!

[2018-09-20 14:43] xxunming opened #1292 "OSError: [Errno 5] Input/output error ?"
Hello,
I'm running fmriprep 1.1.6 on a workstation with 64G RAM using docker for windows and not mounting a working directory. I repeatedly encountered the error below.

180920-04:15:08,405 nipype.workflow INFO:
         [Node] Finished "fmriprep_wf.single_subject_02_wf.func_preproc_task_TemporalOrder_run_4_wf.bold_mni_trans_wf.bold_to_mni_transform".
180920-04:15:09,432 nipype.workflow INFO:

[2018-09-21 11:17] xxunming commented on #1292
seems that the error will not occur if I only run one run of data at a time, but failed with more than one run

[2018-09-21 11:43] effigies commented on #1292
I'm going to guess it's a filesystem error, probably related to running on Windows. A number of users have found Windows-related complications with Docker.

[2018-09-21 12:43] mattvan83 opened #1293 "Adding --fs-expert-file flag in the recon-all process"
In order to cover many useful options of the recon-all process (as -bigventricles), add an `--fs-expert-file` argument to the command line, and then pass that through at the first `recon-all` call.

[https://neurostars.org/t/fmriprep-passing-flags-through-recon-all-process/2465/7](url)

[2018-09-21 18:40] effigies opened #1294 "Rethink the BOLD workflow organization"
Reviewing #1263, it's getting very hard to keep track of everything involved in the BOLD workflow. This makes me worry about maintainability and how easy it will be for new contributors to get going, or independent reviewers to assess the pipeline.

![img](https://fmriprep.readthedocs.io/en/latest/workflows-4.png)

Perhaps it would be better to move to the following organization:

1) Within-BOLD s

[2018-09-21 18:55] emdupre commented on #1294
I think spending some time re-thinking the workflow structure could be hugely valuable.

I share concerns about the current sustainability of and onboarding to the code base, as I feel like I have encountered both of those problems in trying to integrate ME-EPI. I'd like to see #1263 merged before a larger refactor-- selfishly, just since I've already spent so much time understanding the current a

[2018-09-21 18:57] effigies commented on #1294
Absolutely.

[2018-09-22 21:11] Irisfee commented on #1291
It works then! thank you very much!

[2018-09-22 21:11] #1291 closed

[2018-09-25 12:28] andersonwinkler opened #1295 "Compulsory merger of multiple anat?"
Hi all,

Thanks again for this great tool.

It seems that when a subject has more than one anat (e.g., in multiple sessions), all are merged before doing recon-all. This is problematic if not all subjects have the same number of T1 scans: those with more scans will have a lower variance than those with just 1 scan, which violates a key statistical assumption for both parametric and non-parametric

[2018-09-25 13:10] effigies commented on #1295
I do think this is a reasonable request, but how it should be done is an open question. The biggest hurdle in moving away from the single T1w template is deciding on the appropriate anatomical targets for each BOLD run.

If the concern is how to get each individual T1w image in the same space, we do preserve the rigid transform from each anatomical image to the T1w template, so the originals may b

[2018-09-26 18:54] effigies commented on #1294
I've looked into this a little. I think we're going to need to rethink how we do the reference image estimation, especially with the multiecho components.

Right now, multiecho uses the estimation of volumes to skip, but not the validated/xform-corrected BOLD image or reference image. So that's wasted computation on the one hand and a lack of validation on the other.

One complicating factor is th

[2018-09-26 20:44] andersonwinkler commented on #1295
Hi Chris,

Thanks for the feedback. I see the difficulty. Here we use the closest in time, but this could be an issue as the acquisition date/time may not be present in the json files. I guess we can always run all separately indeed as you suggest.

Thanks!

All the best,

Anderson

[2018-09-27 01:49] effigies commented on #1295
I am still interested in how people would like to do this, in general. If we can develop a consensus on a couple best practices approaches to multi-session data, these could easily become options. It's just very hard to pick something right now that's going to work for most cases. The one thing our approach has going for it is that all of the preprocessed BOLD files should be in alignment with eac

[2018-09-29 16:39] #736 closed

[2018-10-01 08:55] xxunming commented on #1292
No errors if running in Linux. Thank you.

[2018-10-01 08:55] #1292 closed

[2018-10-01 12:52] andersonwinkler commented on #1295
Hi Chris,

Seems to me that compulsory merger doesn't give much flexibility. Consider for example a longitudinal analysis with a long span between sessions, child participants, etc.

How about if instead the user controlled that by a flag (merge/don't merge) and, in the case of not merging, at least one anat must be present for each session. It would be for the user to ensure that it is present, e

[2018-10-01 12:56] andersonwinkler opened #1300 "Crash on AROMA if all ICs are classified as motion"
The title says it all. For every functional run, out of hundreds, in which AROMA incidentally classified all ICs as being motion-related, FMRIPREP crashes.

It doesn't seem to be an issue with AROMA as fsl_regfilt works fine even in these cases. But somehow the workflow doesn't finish.

When I try to open the pklz crash reports with nipypecli, then nipypecli itself crashes too...

[2018-10-02 12:08] andersonwinkler commented on #1300
The error message, btw, is this:

[code]

[2018-10-02 13:41] effigies commented on #1300
Thanks for the report. Could you post that `nipypecli` error to [nipype issues](https://github.com/nipy/nipype/issues)?

What version of fMRIPrep are you using? I assume you're running it in a Singularity container?

[2018-10-02 14:15] andersonwinkler commented on #1300
Will report there, thanks! (will do later today).

We are using version 1.1.6, not using a container, but working local installs of the pre-requisites, with python 3.6 and modules in a virtualenv.

We've run for 404 subjects, each with 1 session, each session with 4 or 5 functional runs (task and rest). Out of these 404, 386 subjects finished fMRIprep successfully without any problems, so it shoul

[2018-10-02 14:30] effigies commented on #1300
Looks like AROMA has edge cases where all or no ICs are classified as motion. I suspect it will be that some files are not produced in each case, and the Nipype interface is throwing up. Could you share the `_report/report.rst` from a failing AROMA node?

[2018-10-03 13:38] andersonwinkler commented on #1300
Hi Chris,

Please see below for a case in which it failed, and further down, to compare, for a case in which it didn't fail.

[code]

The above is all the content of the *.rst file.

Below for the case in which it worked. I'm omitting the Environment section, but can paste it if you need.

[code]

[2018-10-03 13:47] effigies commented on #1300
Does the directory `/lscratch/10202724/sub-23212.wrk/fmriprep_wf/single_subject_23212_wf/func_preproc_ses_1_task_flanker2_run_2_wf/ica_aroma_wf/ica_aroma/out` exist? And if so, could you compare the `tree` output for:

* `/lscratch/10202724/sub-23212.wrk/fmriprep_wf/single_subject_23212_wf/func_preproc_ses_1_task_flanker2_run_2_wf/ica_aroma_wf/ica_aroma/out`
* `/lscratch/10202574/sub-21055.wrk/fmr

[2018-10-03 14:16] andersonwinkler commented on #1300
Please, see below. The first is for the one that failed, the second for the one that worked. They seem to be the same. Thanks.

[code]

[code]

[2018-10-03 14:18] andersonwinkler commented on #1300
Btw, I had previously choosen 50 as the Melodic dimensionality, hence same number of ICs that Melodic finds. This is unrelated to the problem. Even if we let Melodic choose the number of ICs, whenever the number of ICs classified as motion is the same as the total number of ICs, fMRIprep crashes. Thanks.

[2018-10-03 15:01] effigies commented on #1300
@jdkent Would you mind having a look at this thread and letting us know if you see something or can think of another diagnostic question? I'll have another look in a bit, but I think we're going to have to dig into contents.

[2018-10-03 15:05] effigies opened #1301 "Update Confounds"
### Filename

| Old | New |
|---|---|
| `func/sub-<sub_id>_task-<task_id>_run-<run_id>_bold_confounds.tsv` | `func/sub-<sub_id>_task-<task_id>_run-<run_id>_desc-confounds_regressors.tsv` |

### Columns

| Old | New |
|---|---|
| non-stdDVARS | DVARS |
| vx-wisestdDVARS | [`<remove>`](https://docs.google.com/document/d/17ebopupQxuRwp7U7TFvS6BH03ALJOgGHufxK8ToAvyI/edit?disco=uiAAAACNeECVM&usp=commen

[2018-10-03 20:15] pvelasco opened #1303 "fmriprep not using field maps"
Hi,

I'm trying to run fmriprep on my datasets and it seems like fmriprep doesn't find/read my fmaps.

The command I'm running is:

[code]

The stdout reads:
[code]

I tripled-checked that the fmaps json files have the IntendedFor field set:
[code]
I'm trying to debug this issue setting a pdb.set_trace() in `/fmriprep/workflows/bold/base.py`, at the line that reads: https://github.com/poldracklab/

[2018-10-03 20:42] effigies opened #1304 "Phase difference field maps fail if BOLD is missing PhaseEncodingDirection metadata"
A better approach would be to check for PE direction when needed, and, if missing, print a warning and disable fieldmaps.

[2018-10-03 21:51] pvelasco commented on #1303
Hi @effigies,
Thanks for catching that.  It runs fine now.
I did run the BIDS validator and it didn't throw any errors.

Just for the future.  What is the proper way of debugging fmriprep?

[2018-10-03 21:51] #1303 closed

[2018-10-03 21:58] effigies commented on #1303
Generally speaking, I will dig through the working directory, find the failing node, and check the source. There should be a way of using `nipypecli` to debug nodes, but I use it so rarely I can't tell you the exact way to do it.

This is a weird one in that the issue happens before the workflow starts running. If `pdb` doesn't work, I don't really have a good suggestion. But really, the validator

[2018-10-04 16:15] ilogue opened #1308 "nu_correct: disk i/o issues (singularity)"
We are trying to get fmriprep running on our HPC (Slurm-based) in a singularity container.

We run the container with `-c -e` flags and mount a working directory and data and output directory.

The process runs fine untill freesurfer's `nu_correct` says:

[code]

This doesn't seem to make sense as the drive mounted has terabytes available. Is it possible that freesurfer is trying to write to a dir

[2018-10-04 16:31] ilogue commented on #1308
There's no quotas on `/data`, and that directory does contain files.

[2018-10-04 16:37] effigies commented on #1308
Are you able to get support from your sysadmin? It seems like an odd error. You could also try the FreeSurfer list, to see if they've seen this show up for other reasons.

Note that this looks the same as freesurfer/freesurfer#462. We may be hitting an HPC edge case.

Finally, did you try re-running? FreeSurfer should try to pick back up where it left off. If it's a timing-related bug, it may be r

[2018-10-04 16:40] effigies commented on #1308
This may also be a Singularity issue, where for some reason you're using space inside the container: https://groups.google.com/a/lbl.gov/forum/#!topic/singularity/eq-tLo2SewM

I don't know off-hand how to test that hypothesis, though.

[2018-10-04 17:01] ilogue commented on #1308
Yeah we are requesting additional local */scratch* space from them but I doubt they'll give us much more. (If network connectivity is even the issue).

Indeed. But isn't this a rather common scenario?

Is there perhaps a way to tell FreeSurfer to wait longer or retry? Rerunning using the temporary working directory seems like asking for hard-to-reproduce scenarios..

Yes I saw that thread, unfortu

[2018-10-04 17:08] effigies commented on #1308
Yes, HPC is a common environment, but the heterogeneity of clusters, as well as users' individual environments, makes it pretty difficult for us to reproduce issues. Also, that everybody is creating their own Singularity images from our Docker images is probably an unnecessary source of variation.

Not very easily under the current Nipype framework.

If you use a persistent working directory locat

[2018-10-04 17:08] #1279 closed

[2018-10-05 00:28] #960 closed

[2018-10-05 14:21] hasanasim opened #1309 "Could not find participants"
I am using the command
`"singularity run fmriprep-1.1.4.simg ds00001-0006 . participant --participant-label subjects1.txt"`

subjects1.txt is a text file with contents '01' to correspond to the first participant 'sub-01'.
I get this error.

 `

usr/local/miniconda/lib/python3.6/importlib/_bootstrap.py:219:

 RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96

[2018-10-05 14:32] effigies commented on #1309
For example, `--participant-label 01 02`.

[2018-10-05 14:33] hasanasim commented on #1309
Great, thank you so much! Out of curiosity, if there is a large amount of participants, is it possible to do it through a txt file?

[2018-10-05 18:02] oesteban opened #1310 "Brief boilerplate"
For communications with very narrow limits on words/pages/characters (e.g. OHBM poster), it would be great to have a short version of the boilerplate, as the long version may take up too much space.

[2018-10-07 12:47] ilogue commented on #1308
Got some excellent help figuring out where freesurfer is trying to write from Michael Krause:

https://mail.nmr.mgh.harvard.edu/pipermail//freesurfer/2018-October/058813.html

turns out it uses `/tmp`. So I now mount `/tmp` as well.

Should this be added to the documentation?

PS I still got some *disk full* errors earlier in the pipeline, but this was because all my fmriprep processes were access

[2018-10-07 22:33] surchs opened #1311 "improved log accessibility for large datasets"
Hey,

currently the process to access the logs / figure out what went wrong is pretty involved and I'd like to know how we could improve that:
I have a large dataset (N > 1000) that I process on an HPC. Based on [this thread](https://neurostars.org/t/how-much-ram-cpus-is-reasonable-to-run-pipelines-like-fmriprep/1086/5) I choose to run each subject in it's own singularity instance for maximum effi

[2018-10-09 20:20] surchs opened #1312 "dead link to bids-validator in the docs"
Hey,

I noticed that the [link to the BIDS-validator in the docs](https://github.com/poldracklab/fmriprep/blame/master/docs/usage.rst#L21) is dead, probably because the underlying repo has moved. The bad link should now point to http://bids-standard.github.io/bids-validator/ . Do you want a PR with the fix?

[2018-10-10 18:22] gmrosenb opened #1313 "Error in generate_report function"
Hi,

I am trying to run a singularity image of fmriprep version 1.1.8 on an HPC, with singularity version 2.6.0. After successfully completing the bold_mni_trans_wf.merge, I get the following error:
[code]

The last line above is repeated multiple times, before the following error appears:

[code]

From what I can tell, at line 173 of /fmriprep/viz/reports.py, the script is trying to run the gener

[2018-10-10 20:12] toddt opened #1314 "crosstalk between fmriprep processes (v1.1.8)"
So this is a bit of a strange bug, but I'm nearly 100% certain it's not user-error.

I was concurrently processing two 50-60 subject datasets on an HPC, with each subject having their own job in the queue. After completion, some of the freesurfer outputs from dataset1 were found under the derivatives/freesurfer folder of dataset2.

Submitted jobs were executed like this:
singularity exec -B /om:/o

[2018-10-10 20:19] effigies commented on #1314
Is `$scratch` dataset-dependent? It may be the case that you're reusing a scratch directory that already had the setup node. Can you try a new `$scratch` directory, just to rule that out?

[2018-10-10 20:29] toddt commented on #1314
No, scratch is the same workingdir for both datasets.

When I look in that workingdir, I see an fmriprep_wf directory. And under that directory is a child directory for each subject, along with a single fsdir directory, that is currently pointing to dataset2's output directory.

I would think that node would be regenerated every time the "derivatives" input changed, though, and that that input wou

[2018-10-10 20:32] effigies commented on #1314
Yeah, if you use the same scratch directory, you could get race conditions.

[2018-10-11 07:48] MetaD opened #1315 "TraitError complaining about irrelevant files?"
Hello!
I got a TraitError when running with fmriprep v1.1.8. It looks quite weird to me, because seems like it's complaining about files in a completely irrelevant folder, which contains files resulted from previous fmriprep version for the same subject.

My directories are structured like this:

`hierarchy` (the bids directory)
-- `sub-149`
-- `sub-xyz` (other subjects)
-- `fmriprep`
----`c` (the

[2018-10-11 13:32] effigies commented on #1315
We explicitly ignore `derivatives/`, but most of the directory will be indexed. The solution will be to move old results out of the BIDS data directory (or into, e.g., `<datadir>/derivatives/fmriprep.old`).

Hopefully, as we conform naming to the BIDS Derivatives release candidate spec, some of these issues will go away, but I would still recommend against storing your old derivatives in such a ma

[2018-10-11 14:28] gmrosenb commented on #1313
Update: I tried the command unset PYTHONPATH and am still getting the same error. I also tried adding SINGULARITYENV_PYTHONIOENCODING=UTF-8  after the image name (and after cleanenv), and that still did not work. We would appreciate any other ideas you have!

[2018-10-11 15:49] hasanasim opened #1316 "fmriprep: error: following arguments are required: bids_dir, output_dir, analysis_level"
I am getting this error even though I am pretty sure i am providing the arguments needed when running this code on a HPC.

`singularity run fmriprep-latest.simg  ds000001-00006 . participant  --participant-label 01`
error :

/usr/local/miniconda/lib/python3.6/site-packages/bids/grabbids/__init__.py:6: FutureWarning: grabbids has been renamed to layout in version 0.6.5, and will be removed in versi

[2018-10-11 15:51] effigies commented on #1316
We've seen another singularity image that seems to pass the wrong arguments to fmriprep. Can you change your command to:

[code]

[2018-10-11 17:34] niclong opened #1317 "inconsistent output dimensions"
Hi, I am using fmriprep 1.1.6 via a singularity container on an HPC. My data are BIDS compatible (checked in the validator). My output spaces are {T1w,template,fsaverage5,fsnative}. fmriprep runs without errors and produces preprocessed anatomical and functional files, however, the preprocessed functional files have inconsistent and strange dimensions.

The input T1w: 176 x 256 x 256
The preproc T

[2018-10-11 18:28] effigies commented on #1317
To be clear, for the instance where you used T1w only, was that the same BOLD series or a different one?

[2018-10-11 18:44] niclong commented on #1317
The same BOLD series.

[2018-10-11 18:48] MetaD commented on #1315
I think my dataset passed BIDS validator before, but just updated it to the new version and it does give me an error now for including non-BIDS directories. If I include a `.bidsignore` file in the BIDS directory, would fmriprep also ignore folders specified there?

Thanks for the info!

[2018-10-11 18:50] effigies commented on #1315
I think it should, but I can't be sure. We depend on pybids for parsing BIDS structures, which I believe has implemented that functionality.

[2018-10-11 18:55] MetaD commented on #1315
Sounds good. Thank you so much!

[2018-10-11 18:55] #1315 closed

[2018-10-11 19:16] ihashi3 opened #1318 "Usage of Pediatric atlases for template normalization"
Hello,

I've just starting to using fMRIprep for my data analysis. I currently analyzing a dataset of child participants and was wondering whether it would be possible to change the normalization template from MNI to a paediatric atlas template, in the pipeline? The paediatric template I had in mind was also done at the MNI, but are specific for children aged 4.5 to 18.5 years. Any suggestions wou

[2018-10-11 19:54] #1316 closed

[2018-10-12 19:51] hasanasim opened #1319 "This document format requires a nonempty <title> element."
I get the error
"This document format requires a nonempty <title> element. Please specify either 'title' or 'pagetitle' in the metadata."

How do I go about specifying a title exactly?

[2018-10-12 20:31] oesteban commented on #1319
You can dismiss that warning. It is generated by the generator of the new citation boilerplate, in one of the conversion from markdown to html/latex.

I'll see whether we can just not show it.

[2018-10-12 20:45] oesteban commented on #1313
@alioco could you send us a PR with the fix?

[2018-10-12 20:47] oesteban commented on #1314
Hi @toddt, this is definitely a race condition on the shared working directory. The easiest fix is to add a dataset folder to the working directory (i.e. `-w work/dataset1`, `-w work/dataset2`, etc.)

[2018-10-12 20:47] #1314 closed

[2018-10-12 20:52] oesteban commented on #1317
I think these differences in sizes are too big to represent a regression of #513.

Two questions:
1. What is the exact command line you are running?
2. What are you running in parallel? (in other words, have you run several instances of fmriprep in parallel sharing the working directory?)

[2018-10-12 20:59] oesteban commented on #1260
Hi @oliver-xie, sorry for the delay.

What is the output of slurm? With only 5h wallclock time I'd bet that it timed out before finishing.

Otherwise looks good, which means that it is taking a whole lot of memory. Strategies to minimize memory fingerprint are (in order):

1. Limit `--omp-nthreads` and `--nthreads` (right now you are using all 16 requested). I'd go first with something like `--omp

[2018-10-12 21:11] niclong commented on #1317
1. Here's the exact command:

singularity run --bind ${group_dir}:${group_dir} ${image} ${bids_dir} ${derivatives} participant \
--participant_label ${subid} \
--output-space {T1w,template,fsaverage5,fsnative} \
-w ${working_dir} \
-vvv \
--ignore {fieldmaps,slicetiming} \
--fs-license-file ${freesurferlicense}

where the directory structure is:

group_dir/studyName/bids_dir/subid
group_dir/studyN

[2018-10-12 21:13] oesteban commented on #1262
That is correct.

However, the most straightforward way of extracting your time-series is having your ROIs resampled in the same resolution of the `_preproc` file. Then, you'll be able to use voxel coordinates (ijk). Tools like nilearn are smarter and will use physical coordinates so you will not need to even apply the affine matrix.

This topic has been touched upon several times on neurostars (e

[2018-10-12 21:13] #1262 closed

[2018-10-12 21:15] oesteban commented on #1317
Could you share that subject privately for us to replicate? This is truly puzzling

[2018-10-12 21:17] oesteban commented on #1275
If only there was a *T1w to task-<yourtask>_bold* CNN... :D

[2018-10-12 21:28] oesteban commented on #1318
See #1084. Feel free to help!

[2018-10-12 21:29] oesteban commented on #1312
That'd be great!

[2018-10-13 12:48] effigies commented on #1309
@oesteban Newlines become spaces in `$()`. For example,

[code]

Output:

[code]

[2018-10-13 12:59] effigies commented on #1317
I'm guessing that there's a slight stochastic difference in either BOLD-EPI registration. Or, if we're cropping to a bounding box (I don't think we are?), there could be a small difference in skull-stripping.

I agree that it doesn't seem related to #513, as that is based on variations in voxel size influencing the resampling grid across different files.

For myself, I would be less concerned abou

[2018-10-13 14:34] jdkent commented on #1300
I looked into the code and I don't see anywhere obvious where the interface would blow up. Once we can see the error report from the pickled file, that should point us in the right direction.
I suppose the other issue (irrespective of fmriprep having error output) is to understand why all the components are being classified as noise.

For the failing ICA-AROMA node, could we see the contents of  `

[2018-10-13 16:07] oesteban commented on #1319
I should have said ignore it. 👍

[2018-10-15 19:48] oesteban commented on #1319
https://neurostars.org/t/help-with-fmriprep/2654/2?u=oesteban

[2018-10-15 21:08] niclong commented on #1317
Because of our IRB, I am not able to share the data.

What are the units of the preprocessed BOLD data dimensions? I see that part of its creation utilizes the file:

highres001_N4Corrected0_masked_reference.nii.gz

found in:

func_preproc_task_instruct_run_01_wf/bold_reg_wf/gen_ref/

But I'm not clear on how that mask is created with those particular dimension values as it is derived from two mas

[2018-10-15 21:57] oliver-xie commented on #1260
Hi @oesteban. Thanks for the advice. For some reason, fmriprep usually runs for a couple of hours and just hangs there (instead of giving me an error message and stop) until it hits the walltime and gets killed.
The slurm output before fmriprep hangs

180918-11:06:00,206 nipype.workflow INFO:
[Node] Running "calc_median_val" ("nipype.interfaces.fsl.utils.ImageStats"), a CommandLine Interface with

[2018-10-16 00:19] mnarayan opened #1323 "Incorrect boilerplate for EPI to T1 registration"
Despite using the flag `--bold2t1w-dof 6 `, the boilerplate reports `nine degrees of freedom`

[code]

[2018-10-16 00:27] mnarayan commented on #1260
I've run into similar issues as @oliver-xie on sherlock. It happens predictably during EPI registrations to T1w or MNI space. I automatically re-submit the participant level job for additional time (2 hours in my case) which seems to ensure the pipeline finishes to completion.

[2018-10-16 14:32] ihashi3 commented on #1318
Thank you, I will head over there now.

[2018-10-16 14:33] ihashi3 commented on #1084
I'm interested in using a paediatric atlas (http://nist.mni.mcgill.ca/?p=974) for registration in FMRIPREP, was wondering how I could add this into the script instead of using an adult atlas.

Thank you!

[2018-10-16 14:42] oesteban commented on #1084
Hi all, I'm preparing a PR to standardize the use of templates and will update the wiki with a step-by-step guide to adding new templates. Will report back asap. Thanks a lot for the interest!

cc/ @rciric for the rodent template

[2018-10-16 15:00] ihashi3 commented on #1084
Thank you very much!

[2018-10-17 08:32] ilkayisik commented on #1317
Hi everyone,
I realized I am having a very similar issue:
Running fMRIPREP version 1.1.4 via docker container,
My data are also BIDS compatible [used heudiconv,
My output spaces are T1w template fsnative fsaverage.
fmriprep runs without errors [occasionally giving this warning: Note on orientation: qform matrix overwritten. The qform has been copied from sform]

There is no change in the anatomica

[2018-10-17 09:14] KevinAquino opened #1327 "A nice way to add missing BIDS info"
Hi all,

Our scanner has not been saving some key properties of each protocol in the DICOM header (it is a some unfavourable combo of the CMMR and our PACS system) I thus need to add metadata manually. Are there any nice scripts people use that can add the necessary BIDS tags -- slice timing etc. I thought I'd ask before I go reinventing the wheel (if it exists!)

Thanks!

[2018-10-17 12:20] #1313 closed

[2018-10-17 13:11] effigies commented on #1327
I don't know of any off the top of my head, but the wider BIDS community has a lot of experience in it. I would recommend asking this question at [Neurostars](https://neurostars.org/) to get a larger audience.

[2018-10-17 20:57] oliver-xie commented on #1300
I also had this issue that fmriprep crashed when all ICs were classified as noise. We can still get the smoothAROMAnonaggr_preproc.nii.gz but no bold_confounds.tsv or bold_MELODICmix.tsv were generated.

We are using 1.1.4 on docker and below is the crash log

Working directory: /work/fmriprep_wf/single_subject_17sess06pl02_wf/func_preproc_ses_session_task_storytelling_run_01_wf/ica_aroma_wf/ica_a

[2018-10-17 21:09] jdkent commented on #1300
I just got this error on some of my data as well, so I can take take a deeper look into it.

[2018-10-18 12:55] switt4 commented on #1084
Hi,

I am trying to help get a few studies up and running with fmriprep using other templates (pediatric/neonate and macaque).

Sorry for the perhaps somewhat obvious question, but which wiki will be updated with the guide to adding new templates, the one associated with this github or the main fmriprep documentation page?

Thanks,

suzanne

[2018-10-18 13:32] KevinAquino commented on #1327
Great thanks! I'll keep this issue open in case I find a solution (ill post it on here)

[2018-10-18 15:35] jdkent commented on #1300
Looking at the code, the function [_get_ica_confounds](https://github.com/poldracklab/fmriprep/blob/c05d385b09163103d2127ac651f27e680ae0b3fa/fmriprep/interfaces/confounds.py#L201) returns `None` for `aroma_confounds` if either none or all the components were classified as noise.

Then back in the main [_run_interface](https://github.com/poldracklab/fmriprep/blob/c05d385b09163103d2127ac651f27e680ae

[2018-10-18 15:53] jdkent opened #1331 "[bug]: No components classified as noise (deeper issue - what mask is used in ICA-AROMA?)"
A user had a particular run that had [no components classified as noise](https://neurostars.org/t/runtimeerror-ica-aroma-failed-fmriprep-version-1-1-6/2565), resulting in fmriprep throwing an error ([as expected](https://github.com/poldracklab/fmriprep/blob/c05d385b09163103d2127ac651f27e680ae0b3fa/fmriprep/interfaces/confounds.py#L116-L119)).

After getting access to the offending data, I replicat

[2018-10-18 21:51] oesteban commented on #1309
hi @hasanasim did our suggestions fix your issue? Please reopen if not.

[2018-10-18 21:51] #1309 closed

[2018-10-19 03:43] jdkent commented on #1300
I did some playing with my data. We did not have the non steady state volumes removed beforehand, and removing them appears to significantly impact the results of melodic, my previously 7 components became a more typical 55 components, I did not run ica aroma subsequent, but visual inspection indicated there were more noise-like and signal-like components.

@andersonwinkler @oliver-xie, do your da

[2018-10-19 04:09] #1312 closed

[2018-10-19 04:12] #1252 closed

[2018-10-19 04:18] oesteban commented on #1166
Please reopen if this problem comes back.

[2018-10-19 04:18] #1166 closed

[2018-10-19 04:28] oesteban commented on #444
Superseded by #1283 . Please reopen if this is still desirable/necessary

[2018-10-19 04:28] #444 closed

[2018-10-19 07:53] oliver-xie commented on #1300
@jdkent, my data still have dummy scans in the nifti files, and the non steady state signals are captured not only by noise-like ICs but present in signal-like ICs as well for ICA-AROMA.

[2018-10-19 11:07] andersonwinkler commented on #1300
Hi James,

Thanks for looking into this. Yes, same as with Oliver: the initial, non-steady state, volumes are still in the file.

I didn't get why you mention that, for AROMA to be useful, it would need a mix of noise and non-noise. If all are noise, what happens is that the difference between the "agressive" and "non-aggressive" denoising strategies disappear: they both become "aggressive". As fa

[2018-10-19 16:21] jdkent commented on #1300
Thanks Anderson, I agree with what you've said; as far as regression goes, identifying everything as noise is a-okay. I wasn't very clear with what I was trying to get at. I'm coming from an assumption that there is structured low frequency signal in the brain that is spatially non-guassian. If all of the generated components are highly correlated with motion, have significant edge/csf fractions,

[2018-10-19 17:52] andersonwinkler commented on #1300
Hi James,

It would be great if that power were given to the users. No authority (the code in this case) should decide what is better for them. A warning written to a log would be great, if that much, as the number of ICs and ICs classified as noise can always be checked among the outputs.

Same goes for the related #1136: the ultimate decision of allowing the user to choose between not removing i

[2018-10-19 19:06] jdkent commented on #1300
Great reasoning, I'm convinced. I think we should raise a warning if all or none components are identified as noise, but the error does rob users of power.
@effigies @oesteban WDYT?

I don't think there are other scenarios within fmriprep that behave this way.

If we are all in agreement, would you like to submit a pull request to change the error to a warning?
I think it should be a pretty straig

[2018-10-19 19:07] pjkohler commented on #954
Was any further progress ever made on this? What is the current recommendation for those of us who want to view fmriprep output in AFNI?

[2018-10-19 19:13] oesteban commented on #1300
I think it would be good to flip the default and turn ``--ignore-aroma-denoising-errors`` into something like ``--error-on-aroma-warnings`` for users who don't want to miss out these kind of errors.

Also, this new approach should be accompanied by heavy-fat signs on the report that AROMA did not produce a clean output. We want to avoid that these pass overlooked by the user.

[2018-10-20 21:00] MetaD commented on #801
I got this error in one of the subjects with fmriprep 1.1.8 and indexed_gzip 0.8.7 ... Any suggestions?

Thanks!

[2018-10-21 14:15] pauldmccarthy commented on #801
@MetaD can you provide a stack trace, and ideally share the offending image?

[2018-10-22 09:15] pauldmccarthy commented on #801
I'm guessing you're using nibabel 2.3.0 - it is worth upgrading to 2.3.1, as there were a couple of bugfixes related to how `indexed_gzip` is used which could be the reason for this error.

If that doesn't work, it would help if you could identify and share one of the offending files.

[2018-10-22 13:23] effigies commented on #801
@MetaD your execution environment may also be relevant. For instance, I believe the issue we had before was on NFS shares.

[2018-10-22 15:15] effigies opened #1337 "Select consistent parcellation for producing aparcaseg derivatives"
From [Neurostars #2656](https://neurostars.org/t/different-labels-in-aparc-seg-files-in-same-fmriprep-project/2656), the `aparcaseg` derivatives may have different labels across subjects. This would appear to be a failure of selection in the following lines:

https://github.com/poldracklab/fmriprep/blob/c05b7bb7cf26ebd47be7b1a9c17f8ed937cb1133/fmriprep/workflows/anatomical.py#L1137-L1144

Currentl

[2018-10-22 15:16] jdkent opened #1338 "patching singularity containers"
In the current [contributors.rst](https://github.com/poldracklab/fmriprep/blob/master/docs/contributors.rst), it says to use the `PYTHONPATH` variable to patch singularity containers.

[code]

This method did not work for me (but I didn't try hard to make it work). However binding did work, and it's synonymous with how we patch with docker containers.

e.g.
[code]

This would be my preferred way o

[2018-10-22 15:54] markushs opened #1339 "Missing report output"
Hi!

I'm new to fmriprep and have been playing around with a stripped down version of a dataset: one participant, one functional multiband BOLD series + sbref, T1w+T2w anatomicals, two spin echo epi scans with opposite phase encoding for inhomogeneity corrections; all BIDS-validated.

I'm on OSX with Docker 18.06.1 and from the terminal output everything seems to run smoothly (some warnings, but n

[2018-10-22 17:30] oesteban commented on #1338
+1 to update the guide and place your method 1st (although keeping the PYTHONPATH mechanism)

[2018-10-23 13:10] isukrit commented on #1147
Hi @oesteban, will the --fs-no-reconall flag affect the quality of functional preprocessing in any way? I am only interested in functional data, so I was wondering if I could use it to save time while preprocessing.

[2018-10-23 14:06] effigies commented on #1147
@isukrit The quality of BOLD-T1w registration is generally much better with FreeSurfer's `bbregister`, which was the primary reason for including it in the first place. It's a heavy cost, if you have no interest in analyzing your data on the surface, however. You could try with `--fs-no-reconall` and see whether you're happy with the quality of FLIRT's registration.

[2018-10-23 14:35] oesteban commented on #1147
Totally agreed. FLIRT will be less robust with: a) low resolution EPIs; and b) low quality T1w resulting in noisy segmentations with FSL FAST.

[2018-10-23 14:59] bababen opened #1341 "parts of skull missing from T1w image during acquisition"
I had a subject with a large head and the T1w image includes the brain but not all of the skull.  I tried running the subject through fmriprep as usual with the following command:

docker run --rm -it -v /home/ben/license.txt:/opt/freesurfer/license.txt:ro -v /mnt/barracuda/utmc_pilot2_processed:/data:ro -v /mnt/barracuda/utmc_pilot2_processed/fmriprep_output:/out poldracklab/fmriprep:1.1.0 /data

[2018-10-23 15:36] bababen commented on #1341
I got an error with --n-cpus 1

fmriprep: error: unrecognized arguments: --n-cpus 1

so I used --omp-nthreads 1 instead.  Let me know if this is what you need!

RUNNING: docker run --rm -it -v /home/ben/license.txt:/opt/freesurfer/license.txt:ro -v /mnt/barracuda/utmc_pilot2_processed:/data:ro -v /mnt/barracuda/utmc_pilot2_processed/fmriprep_output:/out poldracklab/fmriprep:1.1.0 /data /out partic

[2018-10-23 15:47] effigies commented on #1341
It looks like you don't have any BOLD images? If this is intentional, use `--anat-only`. If not, has your dataset passed the [bids validator](https://bids-standard.github.io/bids-validator/)?

[2018-10-23 16:01] bababen commented on #1341
Ah, I had a double underscore in the filename for the BOLD images.  It is running now.  I am still concerned the T1w image quality might cause some trouble with the recon-all, but we'll see I suppose.

Sorry for the simple error but thanks for the help!

[2018-10-23 16:01] #1341 closed

[2018-10-23 17:34] effigies commented on #954
Hi @pjkohler, we have not modified the way that T1w images are produced. I don't believe we have a current recommendation, but if AFNI is not displaying your images correctly, I would probably recommend using another tool like freeview or FSLeyes.

[2018-10-23 18:48] effigies commented on #1317
@niclong Sorry about the delay. The new dimensions are the result of reslicing the BOLD in the same space as the T1w, while keeping the same voxel sizes. So small differences of rotation in the registration might lead to one voxel more or less on each side, so up to a difference of two voxels per dimension.

[2018-10-23 20:10] mattcieslak commented on #1169
So does this mean that BIDS section 8.9.2 isn't currently supported?

[2018-10-24 03:38] effigies opened #1342 "Mark FreeSurfer tools that sink to external directories to always run"
Any tool that produces outputs in an external directory (data sinks, FreeSurfer manipulation tools) can produce an internally consistent node working directory that will nonetheless fail to populate the `OutputSpec` with valid locations, if the output directories have been removed. We should mark such tools to always run, and ensure they're written such that they will not re-perform expensive or i

[2018-10-24 03:39] effigies commented on #1342
Labeling as a nipype issue, as some of the tools might be better fixed upstream.

[2018-10-24 03:40] effigies commented on #1169
@mattcieslak I believe that's correct. We would be happy to review a patch, however.

[2018-10-24 03:51] effigies commented on #1327
Further discussion should happen on Neurostars: https://neurostars.org/t/a-nice-way-to-add-missing-bids-metadata/2668

[2018-10-24 03:51] #1327 closed

[2018-10-24 14:33] mattcieslak commented on #1169
Happy to write a workflow for this. Would make sense to calculate a phasediff image from the two phases and send that as input to the workflow for 8.9.3-style fieldmaps? Or is there something fundamentally different between derived phasediffs and those that come from scanners?

[2018-10-24 14:57] emdupre commented on #954
Just to ping that @afni-rickr might have thoughts here on the best way to go about this !

[2018-10-24 15:19] effigies commented on #1169
I'm not really sure, myself. I have dug into the fieldmap math much less than @oesteban, who might have thoughts here.

[2018-10-24 15:45] afni-rickr commented on #954
Hi @mvdoc and @emdupre, Yes, this is a long-term aspect of the afni GUI that never been dealt with.  The GUI does not resample the data (to apply an obliquity transformation) live.  We should do that (suma does, afni does not).  So in this case, since the anat is oblique, the obliquity transformation should actually be applied.  For example:
3dWarp -deoblique -prefix dset_card.nii.gz dset_oblique.

[2018-10-24 16:07] effigies commented on #954
@afni-rickr To be clear, `3dWarp -deoblique` will reslice the data to ensure the same RAS coordinates refer to the same values (modulo interpolation), but with RAS now aligned with (some permutation of) IJK?

I ask because I feel like I've seen some cases where "deoblique" is used to mean diagonalizing the affine matrix without modifying the data, which would be changing the space.

[2018-10-24 16:37] afni-rickr commented on #954
@effigies That is right, `3dWarp -deoblique` actually moves the data around (according to the oblique transformation) and resamples it on the (originallly approximated) cardinal grid.  The notion of deobliquing where the data is not modified is what `3drefit -deoblique` would do, just truncating any oblique angles to the nearest cardinal grid (which is what the GUI was doing).

[2018-10-24 18:36] afni-dglen commented on #954
In the afni GUI,  oblique data is shown with an ijk->xyz transformation using the closest cardinal transformation. The data will appear "untilted".  As Rick said, there are few operations available:

1. Replace the oblique transformation in the header with the closest cardinal matrix
     3drefit -deoblique mydset
There is no difference in the view inside the afni GUI, but there would be a differe

[2018-10-24 21:48] MetaD commented on #801
I updated nibabel to 2.3.1 and tried again, but still got that error. This time it also comes with a log file though, so maybe it provides more useful information (see below)? Would it be useful if I share the 406 input files?

@effigies if it's related to the environment, would you expect I also get this error elsewhere? I've been only getting it with one subject (out of 25) every time I run it.

[2018-10-24 21:55] pjkohler commented on #954
I think I understand now that only option 3 really makes sense if I want to modify the functional file (in cardinal space, TLRC), apologies for not getting that before.

If I use option 3 to convert my functional file to test3+tlrc, and then run 3drefit -view orig test3+tlrc., the result test3+orig can be viewed with the surface volume in the AFNI viewer, and looks aligned. However, 'Template Spac

[2018-10-24 22:55] pjkohler commented on #954
@mvdoc, pretty sure 3drefit used as described above will resolve your original issue as well.

[2018-10-24 23:11] chrisfilo commented on #954
Does this mean we could achieve compatibility with AFNI viewers without adding extra interpolation to T1w outputs by adding additional affine to the combine transformation applied to space-T1w preprocessed bold outputs?

[2018-10-24 23:39] pjkohler commented on #954
header info before:

qform_name     Aligned Anat
qform_code     2
qform_xorient  Left-to-Right
qform_yorient  Posterior-to-Anterior
qform_zorient  Inferior-to-Superior
sform_name     Aligned Anat
sform_code     2
sform_xorient  Left-to-Right
sform_yorient  Posterior-to-Anterior
sform_zorient  Inferior-to-Superior
descrip        xform matrices modified by FixHeaderApplyTransforms (niworkflows v0.3.

[2018-10-25 04:19] fliem opened #1345 "STC ignoring SliceEncodingDirection"
Hi.

It seems that stc is not taking SliceEncodingDirection into account.

I was under the impression that this parameter should alter how SliceTiming is handled.
If my nifti orientation is LPS and the slices where acquired in z direction in descending order (from superior to inferior), SliceEncodingDirection should be 'k-' and SliceTiming something like [0, .05, .1 (...)] correct?
Thanks.

[2018-10-25 04:39] effigies commented on #1345
That looks correct. Thanks for the heads up. Any interest in submitting a patch?

[2018-10-25 06:16] isukrit commented on #1147
I will check it for different files and update you. But from preliminary analysis the results seem to be fine.

[2018-10-25 07:54] fliem commented on #1345
I can work on that.
* SliceEncodingDirection would also make non-axial acquisitions possible (although that's probably rare). Is it desired to enable data that has not been recorded in z direction?
*  I'm not familiar with AFNI's `TShift`. How should the timing information that goes into it look like? Does it assume superio-to-inferior, or does it lookup nifti orientation (I can look that up mysel

[2018-10-25 08:20] pauldmccarthy commented on #801
@MetaD sure, if you could share the offending files, I'll take a look at them.

[2018-10-25 11:57] effigies commented on #1345
I'll start by saying that *we* have been assuming the `k` orientation; as a consequence, at least one of the SDC algorithms will fail if the `PhaseEncodingDirection` is `k[-]`. But I do agree we *should* handle these cases correctly.

By my reading, `TShift` will use the header only if no slice timing pattern is supplied. Because we supply a pattern, it is treated as if it's in the `z+` direction.

[2018-10-25 14:12] effigies opened #1348 "`bold_mni_ref` connection failing when specifying --output-space T1w"
CLI:

[code]

Using poldracklab/niworkflows/master and #1343, and a fresh scratch directory.

[code]

Haven't tracked down where this is, yet. Just running with MNI.

[2018-10-25 14:26] effigies opened #1349 "Remove methods section from CLI output"
The copyable methods section in the CLI output makes reading the output even harder than it already is. I don't mind it being part of the derivatives (or logs), but I find it extremely irritating when trying to debug.

Does anybody strongly oppose removal?

[2018-10-25 16:14] afni-dglen commented on #954
In the afni_proc.py and align_epi_anat.py, we concatenate the transformations including this obliquity transformation. Note that in some cases, the obliquity info is sometimes wrong, and alignment between EPI and anatomical can be computed without considering obliquity at all. We almost always consider the outputs of the processing pipelines to be cardinal, and the datasets are marked as cardinal

[2018-10-25 16:40] oesteban commented on #1349
I'd be fine with that. It served the purpose, but now I agree it is irritating.

[2018-10-25 19:28] #1339 closed

[2018-10-26 02:29] oesteban opened #1351 "RC1 derivatives - Update documentation"
In particular https://github.com/poldracklab/fmriprep/blob/8f734520370c26a82d46935f6f88c8e2e1040cae/docs/outputs.rst#L49-L93

[2018-10-26 02:30] oesteban commented on #1351
Maybe it would be legitimate to just link to the RC1 google docs?

[2018-10-26 12:46] effigies commented on #1351
I agree that we should link to the RC1 google doc, but that is much broader than fMRIPrep, so I think it's still valuable to clarify what derivatives we actually generate.

Perhaps we could generate the outputs automatically, and then link to the spec for descriptions? (That might be a bit much for one-time changes, but in case there are new outputs or further spec changes, it could be worth it.)

[2018-10-26 14:50] andersonwinkler commented on #1300
Hi all,

Thanks again for looking into this. Just one additional piece of information. When we include "--ignore-aroma-denoising-errors", and the issue of having the same number of IC classified as motion as the total number of ICs, the file *_bold_confounds.tsv is not created.

I think ideally this should not be considered an error at all (i.e., we shouldn't conceptualise it as an error, as in "s

[2018-10-26 15:29] jdkent commented on #1300
Hi @andersonwinkler,

I agree, and I think the contribution should be relatively straight forward, would you like to contribute to the project? I would help you along the process.

Also, the most recent pull request just merged in should (indirectly) fix the error you are receiving.

[2018-10-26 15:44] MetaD commented on #801
@pauldmccarthy The files are [here](https://drive.google.com/file/d/1CyCJUODxO7IhNtHZElHs9u119xI5jHYf/view?usp=sharing) (input_image in the last error log). Thank you!!

[2018-10-26 20:16] afni-rickr commented on #954
Hi @pjkohler.  In this case, the data seems to start out as cardinal, and so running 3dWarp should really have no effect.  The need to match the spaces is due to the original intention of the afni GUI being to provide the mechanism to go from orig to standard space.  That ability is really obsolete or mostly unnecessary now, so we will have been planning to relax the restriction.  But it currently

[2018-10-26 20:39] oesteban opened #1352 "[BUG] ``_autorecon31`` failed with ERROR: loading mri/aseg.mgz"
- Using singularity container on sherlock.
- freesurfer/sub-S0563CCB1/mri/aseg.mgz exists and opening with freeview did not reveal issues.
- freesurfer's recon-all log file ends with `recon-all -s sub-S0563CCB1 finished without error at Sat Oct 13 05:53:54 UTC 2018`

Crashfile contents:

[code]

[2018-10-26 20:41] oesteban commented on #1352
@effigies maybe the `SUBJECTS_DIR` is not properly set?

[2018-10-26 22:19] effigies commented on #1352
Looks fine. Not hitting quotas or anything?

[2018-10-26 22:20] oesteban commented on #1352
Not apparently. Just re-ran the subject without issues. I'll close for now, although I had 61 more like this one.

[2018-10-26 22:20] #1352 closed

[2018-10-27 01:41] afni-rickr commented on #954
@pjkohler The issue with @mvdoc, which I have not had the chance to read the updates to, was about obliquity, at least last I knew.  It is possible this could apply as a secondary issue.  I'll look it over tomorrow.  Thanks.

[2018-10-27 01:52] oesteban commented on #1000
Fixed via #1321

[2018-10-27 01:52] #1000 closed

[2018-10-27 13:16] andersonwinkler commented on #1300
Hi James,
Absolutely, just let me know how. Thanks!
Anderson

[2018-10-27 18:18] #864 closed

[2018-10-27 19:18] #804 closed

[2018-10-27 19:18] #752 closed

[2018-10-28 15:48] pauldmccarthy commented on #801
There seems to be nothing wrong with any of the inputs - they all load fine:

[code]

 Does the error always occur with the same subject? Can you try running from a local (non-networked) file system to see if it still occurs?

[2018-10-29 00:33] MetaD commented on #801
Hmmm interesting... Yes it always happens with this one subject only. My local computer doesn't have enough memory, but I'll try to run it on OpenNeuro and see if that works. Thanks!

[2018-10-29 15:43] afni-rickr commented on #1345
Hi @effigies, Yes, 3dTshift will get the slice timing pattern from the dataset, if it is there.  And timing passed from the command line overrides the header contents.

And yes, the positive z direction for timing is based on positive indexing of the z direction on disk, not I-S, and not dependent on the sign of the coordinates.  For verification, one can use `3dinfo -VERB` to show the slice timin

[2018-10-29 16:41] afni-rickr commented on #1345
Hi @effigies.  For what it is worth, if one resamples data in AFNI, we generally wipe out the slice timing,  believing it is misleading at best.  So a subsequent 3dTshift would simply duplicate the input (with modest whining).

[2018-10-30 10:03] MetaD commented on #801
I just realized OpenNeuro doesn't support running fmriprep on it any more. But somehow when I tried for a 4th time on my cluster, it didn't give any error.. Everything is same as before so I have no idea, but maybe we could close this issue for now... Thanks for the help.

[2018-10-30 14:13] effigies commented on #801
@MetaD OpenNeuro moved to a new storage backend (the old one was tied to the execution backend), so the new execution backend is in progress. There are plans for a limited, stop-gap execution strategy, but I don't know the timeline on that.

Thanks for looking into this, and sorry there wasn't anything "fixable" this time. My suspicion is that there are some weird interactions with random access o

[2018-10-30 14:13] #801 closed

[2018-10-30 17:34] #1259 closed

[2018-10-30 18:33] jdkent commented on #1300
Great! :smiley:

To start off, you can follow [these instructions](https://github.com/poldracklab/fmriprep/blob/master/CONTRIBUTING.md) to get the code on your machine and start making changes (you can reference this issue for your pull request).

1. The first change is to remove the [lines here](https://github.com/poldracklab/fmriprep/blob/ab686c92bd2a0bd208a21ead246169d1be95576d/fmriprep/interfa

[2018-10-31 18:30] mattcieslak commented on #1169
It looks like there is support for phase1/phase2 in the dipy workflow (https://github.com/nipy/nipype/blob/master/nipype/workflows/dmri/fsl/utils.py#L645).  Would it make sense to check if the `type` is `"phase"` and if so send the two phase images to `pha2rads`?

Maybe it would be good to change the `type` from `"phase"` to `"phases"` or something more descriptive?

[2018-10-31 18:33] #1351 closed

[2018-11-01 01:22] effigies opened #1358 "Tests no longer work on tags"
Releases aren't getting pushed to PyPI or Docker. Not really clear what's changed. Can work on this in the morning. @oesteban Any initial thoughts?

[2018-11-01 11:19] effigies commented on #1358
Right. Not sure why that directory is failing to be created all of the sudden.

[2018-11-01 12:47] effigies commented on #1358
Looks like it was in f36e2eb9db9277924454e23f639644d357815ec3.

Any objection to restoring it and bumping to v2?

[2018-11-01 12:58] effigies commented on #1358
Maybe it makes more sense to enable `get_regression_data` on tags.

[2018-11-01 14:34] aureliooo opened #1360 "Inconsistent Preprocessed Functional Output Dimensions"
Hello! I am using fmriprep 1.1.4 (I believe) via a singularity container. My data have been BIDS validated, and it is also a very large dataset of resting state from multiple lab sites. I am trying to run comparisons across this data from different sites but the preprocessed functional outputs are inconsistent across site.

For example, across all subjects in one site, the registered preprocessed

[2018-11-01 18:51] effigies commented on #1360
Yes, the size of the input image will affect the size of the image in template space. The template doesn't specify a bounding box, and so we use the smallest bounding box that will contain all data from the source image. That said, they should all be in alignment, so it's just a matter of adjusting the bounding boxes.

You can use [`nilearn.image.resample_to_img`](https://nilearn.github.io/modules

[2018-11-01 18:53] effigies commented on #1360
Oh sorry. I see the voxel sizes are also different. You may want to pass `--template-resampling-grid 3mm` when running fMRIPrep.

[2018-11-01 19:58] mattcieslak commented on #1345
I have a bunch of multiband EPIs that were collected with coronal slices. Happy to share an example if it would be helpful

[2018-11-01 20:00] #1345 closed

[2018-11-01 20:19] aureliooo commented on #1360
When I use that flag, 3mm is read as a path which says doesn't exist. I will use the 2mm option for now which does seem to work, but should the 3mm also be an available template?

[2018-11-01 20:34] effigies commented on #1360
It looks like we don't currently have a 3mm-resampled image to target. If you take the first volume of one of your preprocessed BOLD series from your existing outputs (I would choose the one with the highest resolution and largest field of view), you could target that. They should be in the right space. (@oesteban can you verify I'm not typing nonsense?)

[2018-11-01 20:34] #1358 closed

[2018-11-01 20:39] oesteban commented on #1360
Oh, yes, the `--template-resampling-grid 3mm` will not work out. Defining the behaviors of the output gridding is very tricky. For now, I think that templateflow/templateflow#2 would be the easiest way forward until we come up with a better solution (this is highly related to other concerns we need to address in the context of #1334 .

But yes, let's add a new 3mm resampling target.

[2018-11-01 20:42] effigies commented on #1345
@mattcieslak An example image would surely be helpful, though right now working with just an individual BOLD series is hard, as the anatomical portions of the pipeline are non-optional.

If you're open to sharing a non-trivial amount of data, would it be possible to share the dataset on OpenNeuro? That would make it simpler for anybody to pick it up, work on the problem, and be sure they can run t

[2018-11-04 03:21] chrisfilo opened #1362 "Increase granularity of sentry logs"
Currently, the vast majority of errors logged on sentry are bunched together under one event: https://sentry.io/poldracklab/fmriprep/issues/576986552

It would be much more useful if grouping was done based on the traceback of the failing node. This could be achieved with [custom fingerprint](https://docs.sentry.io/learn/rollups/?platform=python#custom-grouping).

[2018-11-05 10:12] markushs opened #1363 "Plugin-fix for memory issues fails in 1.2.1"
Hi!

We've been running large MB-datasets successfully using fmriprep 1.1.8 and the the "--use-plugin" argument (yaml file configured as in #1259).

However, when testing out version 1.2.1 we get the following error (on the same data with the same  input parameters as in 1.1.8):

<img width="1009" alt="image" src="https://user-images.githubusercontent.com/44242647/47990567-2013c080-e0e8-11e8-85d3-

[2018-11-05 10:38] markushs opened #1364 "Missing"

[2018-11-05 10:38] #1364 closed

[2018-11-05 10:51] markushs opened #1365 "Fmriprep 1.2.1: ica_aroma_wf.rm_nonsteady: skip_vols argument missing"
Hi!

We're testing out 1.2.1 and get the following errors for all datasets during ICA_AROMA:

<img width="1636" alt="image" src="https://user-images.githubusercontent.com/44242647/47993432-b7c8dd00-e0ef-11e8-88c1-c4f1ce6f01b8.png">

The error log says:
<img width="1609" alt="image" src="https://user-images.githubusercontent.com/44242647/47993467-cb744380-e0ef-11e8-85fb-4a1c1a20f721.png">

I guess

[2018-11-05 14:50] effigies commented on #1365
Hi, thanks for the report. I think the issue is that you have single-band references, which means that we don't attempt to use non-steady-state volumes to create a reference image, so we skip discovery and counting altogether. I'll push a change to fix that.

[2018-11-05 15:31] effigies commented on #1363
Hmm. It's not obvious what the problem is, here. Is this a clean working directory (passed with `-w`), or, if not, does it still occur if you use a clean working directory?

[2018-11-05 15:41] markushs commented on #1051
Hi!
Sorry for reopening this thread, but I just discovered that there is a (hidden) option in Melodic that sets an upper bound for the number of estimated components. Simply use the --dim argument (in Melodic) / aroma_melodic_dim argument (in fmriprep) with a negative number, and it will estimate at maximum abs(dim) dimensions.

E.g. --aroma_melodic_dim -200 will produce at most 200 components, bu

[2018-11-05 16:05] effigies commented on #1051
@markushs To be clear, is that true as-is, or do we need to modify anything to make a negative number behave in this way? If so, I think the best option is to update the documentation to make this clear.

[2018-11-05 20:11] #747 closed

[2018-11-05 20:56] markushs commented on #1051
I've run some tests, and all one needs to do is to pass a negative number to Melodic (or fmriprep). So true as-is, updating documentation should be sufficient.

Seems like the HCP pipeline also solves it this way:

[hcp_fix](https://github.com/Washington-University/HCPpipelines/blob/master/ICAFIX/hcp_fix)
Line 106: ```${HOME}/pipeline_tools/fix1.06a/melodic -i $fmri -o ${fmri}.ica/filtered_func_da

[2018-11-05 21:05] effigies commented on #1051
That's really handy. Let's update the docs. Any interest in submitting a patch?

Also, perhaps we should set a default. As you found, HCP is setting the limit to 250, and @dangom said above in https://github.com/poldracklab/fmriprep/issues/1051#issuecomment-380880940:

So maybe one of these?

[2018-11-05 22:46] markushs commented on #1051
Sure, I can submit a patch.

So if aroma_melodic_dim is not set, maximum number of components defaults to, say, 200. If someone wants an even higher number they can use the argument for that. As long as this is stated clearly in the documentation it sounds like a good solution.

[2018-11-05 23:12] markushs commented on #1363
Yes, I used a clean working directory. Replicated the issue with `-vvvv`. Not much more information, however:

<img width="1478" alt="image" src="https://user-images.githubusercontent.com/44242647/48032386-bd5a0d80-e157-11e8-98dc-0260f1869951.png">

[2018-11-05 23:51] effigies commented on #1051
Great! That sounds good to me, as well.

[2018-11-05 23:53] effigies commented on #1363
Oh, I see. This is a nipype issue, related to fixes in nipy/nipype#2754, which was needed for Python 3.7 compatibility.

I'll submit a patch over there.

[2018-11-06 11:52] andersonwinkler commented on #1300
Hi James,
You know already the problem. Could you fix it?
Thanks!
Anderson

[2018-11-06 13:39] emdupre commented on #1135
I think this is addressed with #1296, especially #1355 !

[2018-11-06 15:35] chrisfilo opened #1367 "Ping sentry when FMRIPREP exists without errors"
This will allow us to easily calculate which percentage of runs finish successfully. Related to #1362.

[2018-11-06 19:22] effigies commented on #1363
So I cannot for the life of me figure out how you're getting to the point where you're trying to pickle that particular object; I'm unable to write a test for my fix. Are you able to reproduce this problem on a local system where you can use `fmriprep-docker`? If so, then we should be able to test my fix without just releasing and seeing if it resolves your problem.

[2018-11-07 13:42] effigies commented on #1337
Fixed in #1369.

[2018-11-07 13:42] #1337 closed

[2018-11-07 14:07] Gilles86 opened #1371 ""template_transforms "-output of init_anat_template_wf seems to be off"
Hi there,

I am trying to make a version of fmriprep that can gracefully deal with MP2RAGEs. I seem to fail quite ungracefully.

 I need the `template_transforms`-output of the `init_anat_template_wf` workflow, so that I can get the 2nd inversions into the same template space.

However, when I use those transforms to transform the T1w-template to the original T1ws with FSLeyes, FSL applyXFM or ANT

[2018-11-07 14:50] effigies commented on #1371
It's hard to say what might be wrong from your description. It's plausible that the conformation step may be missing a translation component if there are flips. Are you able to provide example images and explain how you're feeding them through template construction?

[2018-11-07 15:08] Gilles86 commented on #1371
Hey @effigies ,

I sent you an email with the two anatomical images.

if I do:
[code]

Then the conformed image of `Conform` (`r.outputs.out_file`) is very different from the output `ApplyXFM` (r2.outputs.out_file).

I will try to see what happens when I already reorient2std the images before I put them into this workflow.

[2018-11-07 17:56] yarikoptic commented on #1122
an explicit +1 on the issue -- would be nice to be able to just pull shub://
the problem with pulling from docker:// is inability to guarantee/verify that the image is the same since I guess upon regeneration would be a different checksum... thus -- no git-annex/datalad containers-add for me

[2018-11-07 21:36] akhanf commented on #1251
FYI we have experienced this bug just now, and found that it had to do with the number of characters in the bids path (e.g.: '<DATADIR>/Data/sourcedata_dropscans/').
Symlinking that folder from a shorter path (e.g. directly in a home directory), and pointing to that instead, fixes the issue.  Not sure where the root cause of this bug (char limit) is though??

[2018-11-07 21:57] effigies commented on #1251
The problem is that `sourcedata` is part of the dataset path. All files are being excluded because of this.

[2018-11-07 21:59] effigies commented on #1251
See:

https://github.com/poldracklab/fmriprep/blob/01a152d090fb7a43591f6ddd34e6101f4909b892/fmriprep/utils/bids.py#L155

[2018-11-07 22:29] akhanf commented on #1251
Ah ok I get it, I jumped to the wrong conclusion!  In my case I had 'derivatives' somewhere above the bids dataset in my path.

Is this behaviour likely to change in a future version? I.e. to only exclude those string matches in folders below the dataset, rather than above?

The particular example we have is data that has been pre-processed (gradient non-linearity correction), then fed into fmripr

[2018-11-07 22:46] effigies commented on #1251
It should be resolved correctly in the next release of pybids, at which point we can simply rely on that and stop passing additional arguments.

[2018-11-08 03:11] yarikoptic commented on #1122
on the other hand, I thought: may be it is worth setting up
- bids-apps github organization
- automated script to monitor list of bids-apps/docker hub and generating per each bids-app repository which would provide a collection of Singularity.version files which would be merely e.g.
[code]
with an explicit digest to guarantee that some rogue tag change would invalidate it ;-)
- and enabling singul

[2018-11-08 03:14] effigies commented on #1122
TBH I'm happy with any approach. I haven't looked into how to build Singularity images from recipes or push to singularityhub. If someone who does want to work on these things knows what they're doing, I'm content to let them go ahead. If it turns out to be suboptimal, we can try again in the future. But having a singularity image we can point to as canonical would be great.

[2018-11-08 14:03] tragus1 opened #1372 "IndexError: index 0 is out of bounds for axis 0 with size 0"
Traceback (most recent call last):
  File "/usr/local/miniconda/bin/fmriprep", line 11, in <module>
    load_entry_point('fmriprep==1.0.8', 'console_scripts', 'fmriprep')()
  File "/usr/local/miniconda/lib/python3.6/site-packages/fmriprep/cli/run.py", line 267, in main
    fmriprep_wf.run(**plugin_settings)
  File "/usr/local/miniconda/lib/python3.6/site-packages/niworkflows/nipype/pipeline/engine

[2018-11-08 14:07] effigies commented on #1372
Does this problem persist in the latest fMRIPrep (1.2.1)?

[2018-11-08 14:45] #1363 closed

[2018-11-08 15:12] tragus1 commented on #1372
Yes, I run the latest version.

[2018-11-08 15:33] effigies commented on #1372
Could you provide the traceback for the run with a recent version?

[2018-11-08 15:48] zddzxxsmile opened #1374 "Could fmriprep preprocess the structure data only?"
Could fmriprep preprocess the structure data only? If there is no BOLD data in BIDS folder.

[2018-11-08 15:48] effigies commented on #1374
You can use the `--anat-only` flag.

[2018-11-08 16:11] tragus1 commented on #1372
It still gives me the old version again in the error prompt although I successfully run pip install --user --upgrade fmriprep-docker

 load_entry_point('fmriprep==1.0.6.post2', 'console_scripts', 'fmriprep')()

[2018-11-08 16:12] effigies commented on #1372
You might have a global installation of fmriprep-docker, in addition to the `--user` installation. Try `pip uninstall fmriprep-docker` a couple times, and then reinstall.

[2018-11-08 17:30] yarikoptic commented on #1122
me too! ;)

[2018-11-09 01:41] #1365 closed

[2018-11-09 02:52] effigies commented on #813
Was looking at the Zenodo [API](http://developers.zenodo.org/?python#representation), and there's a `prereserve_doi` option, which could allow us to prepare the docs prior to tagging.

It might make sense to create a `Makefile` where `make release` does:

1) Reserves a DOI
2) Adds the DOI to documentation, changelog and zenodo config
3) Tags a release
4) Creates the release text from the changelog

[2018-11-09 06:27] a3sha2 opened #1376 "output in native/original space"
is there anyway to specify EPI output in native/orig space?

[2018-11-09 13:18] effigies commented on #1376
You mean corrected to each BOLD series' reference BOLD image, rather than aligned to the T1w image? Or would they be aligned to some subject-level mean BOLD?

[2018-11-09 14:14] a3sha2 commented on #1376
yes, exactly

[2018-11-09 14:16] zddzxxsmile opened #1377 "Warning: 8GB of RAM is available within your Docker environment. Some parts of fMRIprep may fail to complete"
I run the ubuntu linux (virtual box) in win10 system (RAM=8G).
When I input fmriprep-docker,
Warning: “<8GB of RAM is available within your Docker environment. Some parts of fMRIprep may fail to complete. Continue anyway? [y/N]”
I pressed y and I only preprocess a single structural T1 nii.gz, it took nearly 12 hours but failed finally. There is only one txt file in the path ~/output/fmriprep/sub-0

[2018-11-09 14:42] effigies commented on #1377
How many cores do you have, and what speed? The longest steps are going to be:

1) FreeSurfer `recon-all` (you can disable this with `--fs-no-reconall`)
2) T1w-MNI normalization
3) Skull stripping

How quickly these run is going to be a function of processors more than RAM, though it's possible that RAM constraints could prevent some jobs from running simultaneously.

[2018-11-09 14:45] effigies commented on #1376
We don't currently support that, but it shouldn't be too hard to enable. Do you have any interest in submitting a pull request? We can orient you to the code and guide you through the process.

[2018-11-09 14:55] zddzxxsmile commented on #1377
My CPU is Intel Core i5-7500 3.4GHz with 4-cores.
Thanks, I will try again.

[2018-11-09 14:58] effigies commented on #1377
Without FreeSurfer, I'd expect it to finish within 2 hours. I don't have a good estimate for FreeSurfer on 4 cores, but I'd guess on the order of 8-9 hours.

[2018-11-09 16:21] effigies commented on #1371
I've reproduced your issue, but I'm having trouble thinking through the transforms at the moment. I also don't fully understand how FLIRT applies transforms. For instance, when you provide the image as the transform reference, what internal adjustments does it apply?

I'll try to think through this as I can. But just note that both images have the same values for the same RAS coordinates.

[code]

[2018-11-09 16:57] effigies commented on #1371
Sorry, not trying to say it's FSL's "fault", so much as I think that we aren't speaking the same language, and I'm honestly not sure how FSL represents the same transform. The transform is specifically flipping the first dimension of the data matrix and the translation difference between the RAS origin in the two spaces.

I assume you're converting from FSL format to ANTs with convert3d or similar

[2018-11-09 19:10] chrisfilo commented on #1376
I would love to learn more about the motivation for such a feature.

[2018-11-09 19:10] chrisfilo opened #1379 "Associate commits with a release on sentry"
https://docs.sentry.io/workflow/releases/?platform=python#b-associate-commits-with-a-release

[2018-11-09 19:11] chrisfilo opened #1380 "Update sentry to a new SDK"

[2018-11-09 20:55] bbfrederick commented on #1348
I just hit this same error with 1.2.1.  Did you find anything?

[2018-11-09 21:00] effigies commented on #1348
Haven't really looked at it yet. I resolved it in the short term by targeting the template (`--output-space T1w template`).

[2018-11-09 23:30] zddzxxsmile commented on #1377
-------- freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0-2beb96c --------
Setting up environment for FreeSurfer/FS-FAST (and FSL)
FREESURFER_HOME   /usr/local/freesurfer
FSFAST_HOME       /usr/local/freesurfer/fsfast
FSF_OUTPUT_FORMAT nii.gz
SUBJECTS_DIR      /usr/local/freesurfer/subjects
MNI_DIR           /usr/local/freesurfer/mni
zhoudongdong@zhoudongdong-VirtualBox:~$ sudo rm -rf ~/output
[s

[2018-11-11 02:35] chrisfilo commented on #1116
How can we uniquely identify datasets?

[2018-11-11 02:36] chrisfilo commented on #1379
Duplicate of #1107

[2018-11-11 02:36] #1379 closed

[2018-11-11 22:29] effigies commented on #1116
Hash of `dataset_description.json`?

[2018-11-12 20:13] effigies opened #1384 "Metadata updates required for pybids 0.7 compatibility"
This is a thread to keep track of changes that need to be made to the metadata outputs of fMRIPrep to conform with pybids' interpretation of the BIDS Derivatives RC1 spec. I am running into these issues trying to update fitlins to work, using derivatives created with fMRIPrep 1.2.1.

cc @adelavega @tyarkoni As some of these may end up being pybids/spec issues.

## File-level metadata

### `bold.js

[2018-11-13 14:23] jdkent opened #1386 "Question: workflow for releases?"
I really like how fmriprep does releases:
- linking the updated zenodo
- Giving a list of contributions (and who opened the pull request)
- Having a title for each release

I feel like there are a few manual steps that I don't know how to do. Maybe it would only benefit me, but I think it would be really awesome if one of the upcoming releases was screen recorded so it could be seen how it's done.

[2018-11-13 15:00] nirjacoby commented on #1290
Hi all,

I want to create a patch for this issue but want to know if to treat it as bug or enhancement.

Short summary of the problem:
Currently if freesurfer was used, the FS label files (parcellation and segmentation) are created in the anatomical and functional folders.
In anat - label files are in T1w space (T1w grid).
In func - label files are created for each functional run in T1w space (fun

[2018-11-13 15:29] effigies commented on #1386
Yeah, we don't have it written up, but it's pretty simple, and actually less effort than the following makes it sound:

1. We use [release-drafter](https://github.com/apps/release-drafter) to automatically generate the changelog.
2. When it's time to release, I copy that into [`CHANGES.rst`](https://github.com/poldracklab/fmriprep/blob/master/CHANGES.rst), cleaning up any entries for clarity, gram

[2018-11-13 17:58] Irisfee opened #1387 "zran_seek returned error: -1"
Hello!

I am using the same codes to run 4 subjects with fmriprep, and 3 of them were preprocessed successfully, with one subject stopped at the middle.

the error is:

traceback (most recent call last):
  File "/usr/local/miniconda/bin/fmriprep", line 11, in <module>
    sys.exit(main())
  File "/usr/local/miniconda/lib/python3.6/site-packages/fmriprep/cli/run.py", line 342, in main
    fmriprep_

[2018-11-13 18:35] effigies opened #1388 "API documentation now missing"
[<img width="1105" alt="screen shot 2018-11-13 at 13 34 20" src="https://user-images.githubusercontent.com/83442/48434834-e165b200-e748-11e8-956a-e51ae3c5cab0.png">](https://fmriprep.readthedocs.io/en/1.2.2/api/index.html)

Related: #615, #638

[2018-11-13 18:38] effigies commented on #1387
Hi, what version of fMRIPrep are you using? This may have been addressed in #1356, which was included in the 1.2.1 release.

Related: #801.

[2018-11-13 18:42] Irisfee commented on #1387
Hi, I am using 1.2.1. I have checked out the #1356, but I am still confused how to solve it. Is that possible for me to change that setting?

[2018-11-13 18:50] effigies commented on #1387
Ah, then it didn't fix it. That's a shame. Have you tried re-running? Our best guess has been that it's an NFS cache-related issue, and sometimes re-running resolves it.

cc @pauldmccarthy Just a heads up that this appears under default nibabel settings (we no longer set `KEEP_FILE_OPEN_DEFAULT='auto'`).

[2018-11-13 20:17] Irisfee commented on #1387
I have rerun it, but however, I got the same error again.

[2018-11-13 20:30] tragus1 commented on #1372
This is what the new version produces:

Traceback (most recent call last):
  File "/usr/local/miniconda/bin/fmriprep", line 11, in <module>
    sys.exit(main())
  File "/usr/local/miniconda/lib/python3.6/site-packages/fmriprep/cli/run.py", line 342, in main
    fmriprep_wf.run(**plugin_settings)
  File "/usr/local/miniconda/lib/python3.6/site-packages/nipype/pipeline/engine/workflows.py", line 595

[2018-11-13 20:33] Irisfee commented on #1387
I am wondering if I should clean up the work dir when re-running?

[2018-11-13 20:39] effigies commented on #1387
That sometimes helps, but I'm not sure that it would, here. Can you determine the node in which it failed? There are several nodes that use that interface; if we can identify which one, we can try deleting just its inputs, to save you some time.

[2018-11-13 20:55] Irisfee commented on #1387
sorry I am totally a newbie to the nipype workflow and I don't know how to find the node that failed. here is the output file:
[df_job001.txt](https://github.com/poldracklab/fmriprep/files/2578060/df_job001.txt)

looking forward to your further suggestions!

[2018-11-13 20:58] emdupre commented on #1387
It looks like the error is on the `merge` node in the `bold_t1_trans_wf`:

	 [Node] Error on "fmriprep_wf.single_subject_01_wf.func_preproc_task_retrieval_run_02_wf.bold_t1_trans_wf.merge" (/projects/kuhl_lab/yzhao17/DIIN/bids_data/works/fmriprep_wf/single_subject_01_wf/func_preproc_task_retrieval_run_02_wf/bold_t1_trans_wf/merge)

Could you look in that folder in the working directory, @Irisfee,

[2018-11-13 20:59] effigies commented on #1387
So perhaps just delete `/projects/kuhl_lab/yzhao17/DIIN/bids_data/works/fmriprep_wf/single_subject_01_wf/func_preproc_task_retrieval_run_02_wf/bold_t1_trans_wf`

[2018-11-13 20:59] #1202 closed

[2018-11-13 20:59] #1362 closed

[2018-11-13 20:59] #1367 closed

[2018-11-13 20:59] #1380 closed

[2018-11-14 00:33] Irisfee commented on #1387
I have re-run another time and this time I have got the results successfully. thank you very much @effigies and @emdupre

I am just wondering if this bug happens totally random, or it might more likely to happen in some situations? I run 4 subjects together, and I got this problem twice only on one of them.

[2018-11-14 14:50] effigies commented on #1386
@jdkent I think that's a great idea. Probably the best place for this is in the [Contributing to FMRIPREP](https://fmriprep.readthedocs.io/en/stable/contributors.html) section, or possibly adding a "maintainers" section.

[2018-11-14 14:53] emdupre commented on #1386
We made our RTD contributing section into a high level overview of our development philosophy, which I've found very helpful ! If there's interest in writing a similar section for FMRIPREP (maybe under the name "maintainers" !), I think it's quite nice to have there :+1:

[2018-11-14 15:04] hstojic opened #1389 "fmriprep crashed, seems to be related to ICA aroma"
As instructed in the console, I'm posting the errors here. This happened only when I used the flag to use ICA aroma, on other datasets where I didn't use it fmriprep worked fine.

This is the traceback from the console ouptut:
[code]

And here are 2 of the crash files, 8 of them seem to be related to ica-aroma, each related to one of 8 of the runs I have, so I only posted 1 of them:
[crash-2018111

[2018-11-14 15:55] effigies commented on #1386
@emdupre :+1: on that idea.

I've started a Google doc ([fMRIPrep development and maintenance guide](https://docs.google.com/document/d/1u8d1hi4bk09YsXmi0s8qYJEhxI9cQE7IMoso1M9swqU/edit)) where we can generate some content before we decide exactly how it will fit into the existing docs. Not sure how quickly we'll iterate, but if anybody feels inspired to take a stab, go for it.

cc @oesteban @chri

[2018-11-14 16:37] effigies opened #1390 "Upgrade minimum Python to 3.7"
As of Python 3.7, [`concurrent.futures.ProcessPoolExecutor`](https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.ProcessPoolExecutor) supports passing a [`multiprocessing.context`](https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods) context (as well as passing initialization arguments).

Combined with efforts to reduce the memory overhead of

[2018-11-14 16:38] effigies commented on #1390
Marking external as I expect we'll need to patch Nipype to enable 3.7-only features in `MultiProc`.

[2018-11-14 18:01] nirjacoby commented on #1390
@effigies can you explain the implication/solution to this?
Is this a reason for fmiprep-docker not to work?
Since starting to use 1.2.2 I have not been able to run through with error traceback to multiproc

[2018-11-14 18:12] effigies commented on #1390
This should have no effect on `fmriprep-docker`, which will remain compatible with all current Python versions (2.7, 3.4-3.7). This is about memory issues which have been plaguing us for some time now. There are two related errors:

1) Using the `LegacyMultiProc` plugin, processes killed by the OS (usually for excessive memory requests) are not caught, and fMRIPrep will simply hang.
2) Using the `

[2018-11-14 18:21] effigies commented on #1387
I believe it's actually an NFS issue. We can't reliably reproduce it. If deleting the inputs resolved the issue, I'd guess that perhaps it's actually the step before merge that's producing malformed files. Next time you see this, could you zip up that entire directory, and we can try to see if there are some malformed files there?

[2018-11-14 19:13] andersonwinkler opened #1391 "What is it downloading?"
And why does it need to download things if the machine has no internet access?

[code]

[2018-11-14 19:46] effigies commented on #1391
Templates for skull-stripping and normalization. These are included in the Docker image published to DockerHub:

https://github.com/poldracklab/fmriprep/blob/6d7bc7568ced4e5244b786138acf7863b498f814/Dockerfile#L147-L153

You can follow these lines to pre-download and prepare your environment, *i.e.* set `CRN_SHARED_DATA` in your shell configurations and run `tools/get_templates.sh`. Note that this

[2018-11-14 20:36] andersonwinkler commented on #1391
Great, thanks Chris! It went past that point, and it seems to be running fine. Thanks!
Cheers,
Anderson

[2018-11-14 20:47] effigies commented on #1391
Great! Please reopen if problems re-emerge.

[2018-11-14 20:47] #1391 closed

[2018-11-14 23:50] hstojic opened #1392 "Singularity build seems to fail"
I'm trying to build the singularity image per instructions on our HPC, with Singularity 2.5.2

When I try to build the image, with the following command:
`singularity build Scratch/fmriprep-1.2.2.simg docker://poldracklab/fmriprep:1.2.2`

I get a lot of errors of following type
ERROR   [U=191821,P=39557] copy_data()                               tar extraction error: Write failed
WARNING [U=191821

[2018-11-15 02:41] chrisfilo commented on #1386
Great initiative - I left some comments.
Best,
Chris

On Wed, Nov 14, 2018 at 7:55 AM Chris Markiewicz <notifications@github.com>
wrote:

[2018-11-15 08:12] oesteban commented on #1389
Could you give it a try first without ICA AROMA?, I'm concerned with the first crash file you posted.

I think the ICA AROMA may have a disconnected path (ref #1335). Probably @jdkent's eyes are more trained for this error.

[2018-11-15 08:34] hstojic commented on #1389
Hm, indeed, I ran the same dataset tonight without ICA AROMA, and I still get an error.

[code]

This is the crash report:
[crash-20181115-003727-root-tcompcor-f61ebcb5-340e-43c6-86dc-5a9fde1006ef.txt](https://github.com/poldracklab/fmriprep/files/2584347/crash-20181115-003727-root-tcompcor-f61ebcb5-340e-43c6-86dc-5a9fde1006ef.txt)

Perhaps I shouldn't have let fmriprep use cached files?

[2018-11-15 16:54] hstojic commented on #1389
sure, the command for fmriprep-docker version 1.2.1 was:
[code]
variables are understandable, I hope.

I'll try updating to 1.2.2 and running again in the meantime...

[2018-11-15 17:55] Irisfee commented on #1387
Due to some reasons, I rerun all the subjects again, and still, I have the same trouble with that subject. This time, deleting the error node folder doesn't solve the trouble. I can share you with the functional data but I can't share you with the anatomical data without skull-stripping for subject-protecting. Would that help?

[2018-11-15 17:58] effigies commented on #1387
No, we can't reproduce without the anatomicals. But if you're able to tar the `bold_t1_trans_wf` directory, I could at least inspect the intermediate results.

[2018-11-15 20:22] shirareznik opened #1393 "Wrong time unit in confounds graph"
Hi,
The unit in the counfounds graph is volumes, not seconds...

![seconds_vols](https://user-images.githubusercontent.com/1251466/48579361-ee3efd00-e924-11e8-8e10-c66afb9d4c81.png)

Many thanks

[2018-11-15 20:43] Irisfee commented on #1387
I have sent the files to your gmail address. thanks

[2018-11-15 20:56] effigies commented on #1387
[code]

[code]

However, if I uninstall `indexed_gzip`, I can read it fine. Reinstalling, I get the error again.

@pauldmccarthy Here's a failing file: [vol0109_xform-00109.nii.gz](https://github.com/poldracklab/fmriprep/files/2586993/vol0109_xform-00109.nii.gz)

I can open an issue over in indexed_gzip, if you like.

[2018-11-15 21:01] effigies commented on #1387
I wonder if we can do any kind of fallback, so that we can use `IndexedGzipFile` when it works, and use `GzipFile` when we hit a `zran_seek` error.

[2018-11-15 21:05] pauldmccarthy commented on #1387
@effigies thanks - super busy right now, but I will look at this as soon as I get a chance.

[2018-11-15 21:35] effigies commented on #1387
@Irisfee Do you think you could just delete `/projects/kuhl_lab/yzhao17/DIIN/bids_data/works/fmriprep_wf/single_subject_01_wf/func_preproc_task_retrieval_run_04_wf/bold_t1_trans_wf`, for now? Until we can either get a fix into `indexed_gzip` or `nibabel`, I think this is just going to be a stochastic bug.

@pauldmccarthy Sounds good. I opened an issue on your page, so that you don't have to dig ar

[2018-11-15 21:36] Irisfee commented on #1387
I have deleted that and rerun twice, however, I got the same error twice at this node.

[2018-11-16 09:14] hstojic commented on #1214
I think I get the same error for one of my subjects, using fmriprep 1.2.2:
[code]

here is the full crash log:
[crash-20181116-014833-ucjttoj-autorecon1-2f33a97d-4647-447f-9b29-41dfe5cfc947.txt](https://github.com/poldracklab/fmriprep/files/2588622/crash-20181116-014833-ucjttoj-autorecon1-2f33a97d-4647-447f-9b29-41dfe5cfc947.txt)

Should I do the manual alignment as suggested in the error and then

[2018-11-16 14:48] effigies commented on #1214
I would look at your T1w image (raw, and there should be a preprocessed one in your output directory at this point).

1) If your raw image looks bad, this is a data problem.
2) If your raw image looks good, but your preprocessed looks bad, this is an fMRIPrep problem.
3) If both images look good, this is a FreeSurfer problem. You should finish this step [manually](https://surfer.nmr.mgh.harvard.ed

[2018-11-16 15:29] effigies commented on #1214
You can give it a shot again. I don't know whether it's stochastic or not, but trying twice rarely hurts.

[2018-11-16 15:53] effigies commented on #1389
Do you have sbref images? And did you reuse your working directory? If so, the problem is likely that you need to remove `fmriprep_wf/single_subject_*_wf/func_preproc_task_*wf/bold_reference_wf`. Hopefully most steps will not need to be rerun, if you're using sbrefs.

[2018-11-16 16:06] effigies commented on #1392
Did you try using some other TMP directory, as suggested in that thread? I haven't experienced this, but fMRIPrep is a large image, so exhausting RAM is entirely possible.

[2018-11-16 16:48] hstojic commented on #1389
In the meantime I tried ICA AROMA on another subject, now with version 1.2.2. and it seems to work fine, so perhaps it was due to the older version 1.2.1. Although it did take 18h - for 6 runs, about 400 volumes each (multiband seq) - 14 cores and 32GB.

[2018-11-16 19:37] switt4 commented on #1084
Hi,

Are there any more updates as to when the guide for how to change templates is going to be released?    I cannot seem to find any more information on either the fMRIprep documentation site or the github wiki.

Thanks again,

suzanne

[2018-11-16 19:44] hstojic commented on #1389
Simply running the fmriprep again did the trick, missing confounds file has been generated.

@effigies could you clarify a bit why removing `fmriprep_wf/single_subject_*_wf/func_preproc_task_*wf/bold_reference_wf` folder worked?

[2018-11-16 19:54] effigies commented on #1389
Sure. The reason is that we fixed #1365 by updating `EstimateReferenceImage` in poldracklab/niworkflows#258. But we didn't change any of its inputs. When nipype decides whether to rerun a node, it checks if the inputs have changed; there's (currently) no way to tell that the interface itself has changed. Thus, until you removed the working directory, it wouldn't rerun, and wouldn't produce the cor

[2018-11-16 19:54] #1389 closed

[2018-11-17 17:37] hstojic commented on #1392
It seems like there were two issues:
1. Our HPC doesn't allow building singularity images
2. Default singularity cache/tmp folders were not writable

Solution was to to redefine environment variables, setting them to a writeable location (in my case these were folders in my Scratch space) and pull the image rather than build it:
[code]
Might be good to add few additional lines about this in the do

[2018-11-17 21:33] chrisfilo opened #1396 "Fingerprinting should ignore variable list length"
[code]

and

[code]

should be the same issue on Sentry

[2018-11-19 02:16] chrisfilo commented on #1208
New SDK should be more robust to such issues.

[2018-11-19 02:16] #1208 closed

[2018-11-19 02:18] chrisfilo opened #1400 "Some Sentry messages seem to be truncated"
Example https://sentry.io/poldracklab/fmriprep/issues/768434032/events/36874332501/

Note that both "message" as well as "traceback" are truncated, but the latter is twice as long as the former.

[2018-11-19 16:10] chrisfilo commented on #1400
Traceback seems to be truncated at 16384 characters.

[2018-11-19 16:19] effigies commented on #1400
Maybe the way to go about fixing this is to give nipype a config option to display the final N characters of stdout? It will probably be generally true that the relevant lines will be the final lines.

[2018-11-19 16:23] chrisfilo commented on #1400
I'm not sure how this looks on the console. For Sentry I was planning to split `traceback` into multiple chunks each at most 16384 characters.

[2018-11-19 19:17] adelavega commented on #1384
@chrisfilo Do you have any opinion as to whether the `PipelineDescription` should be a nested dictionary, or fields should be flat? That is, is there any chance we will update the derivatives spec or is pybids's interpretation correct/final?

Looks like we just need to make an executive decision on this. My vote would be to update the spec for it to be a nested dictionary, but I can live with eith

[2018-11-19 19:29] effigies commented on #1384
:+1: to everything @adelavega said there.

[2018-11-20 01:39] #1342 closed

[2018-11-20 02:44] chrisfilo opened #1402 "Sentry might not be detecting execution environment correctly"
Most jobs that finished without errors and report singularity as their execution environment have `/data` set as their input directory. One event has a server name that suggests docker was used but singularity was reported as execution environment: https://sentry.io/poldracklab/fmriprep/issues/758615130/events/36865184577/

[2018-11-20 02:48] chrisfilo commented on #1402
https://stackoverflow.com/questions/53385496/how-to-detect-a-process-is-running-inside-a-singularity-container - lets see if someone can help

[2018-11-20 13:10] tyarkoni commented on #1384
I don't see any good reason why metadata files should be constrained to be flat anywhere in the spec or pybids. IMO, if pybids currently disallows nesting, we should change that.

[2018-11-20 14:20] effigies commented on #1384
@tyarkoni It's specifically the interpretation of the `"PipelineDescription.Name"` syntax in the spec. Does that mean the field has a dot in it, or is it a shorthand for nested dictionaries? See the first section in the initial post.

[2018-11-20 16:11] emdupre opened #1403 "Update CONTRIBUTING guide"
Several recent questions from new contributors have made me realize we could update the CONTRIBUTING guide to help better orient people to the project ! I'm going to open a PR with some suggested changes, but open questions include:

* Did we decide if we're maintaining the gitter chat room (see #1264) ? It's still listed in the README.
* Is there a code of conduct for fmriprep ? For some reason I

[2018-11-20 16:35] chrisfilo commented on #1384
It was intended to be a nested dictionary (like in PET proposal). We should add an example to the spec to clarify this.

[2018-11-20 16:46] effigies commented on #1403
I think inertia has decided us on Gitter. I think we should kill it (not sure if there's a way to remove it from gitter altogether) and just suggest using Neurostars for general questions and the issues page for feature requests and bug reports.

BIDS, BrainHack and Nipype all have CoC's, but I don't think we've posted our own. My main hold up to doing it myself is that I haven't had the energy to

[2018-11-20 16:53] chrisfilo commented on #1403
+1 for know killing gitter and adding CoC. The covenant (used in bids and
nipype) should be a good template.

On Tue, Nov 20, 2018, 8:46 AM Chris Markiewicz <notifications@github.com
wrote:

[2018-11-20 17:08] emdupre commented on #1403
Ok ! If there's a consensus around this I can update the PR to address both of these issues as well.

For covenant we need to list a contact point for enforcement -- are there preferences on who it should be ? I'd imagine @oesteban as project lead but won't sign anyone up unless I get a specific ok !

[2018-11-20 17:14] oesteban commented on #1403
Thanks a lot for this! Thumbs-up!. Yes, you can set me as the contact point.

[2018-11-20 17:16] adelavega commented on #1384
Okay great, so aside from clarifying the spec, all is needed is a PR to pybids to correct it's interpretation. No changes to fmriprep needed.

[2018-11-20 17:18] effigies commented on #1403
I'd prefer it to be two people, which would make it obvious what to do if either of them is the subject of a claim. I'm happy to be a point of contact, if nobody objects.

[2018-11-20 17:19] emdupre commented on #1403
Yes, two people is definitely ideal :+1: Ok, I'll list both of you ! Thanks so much :sparkles:

[2018-11-20 18:18] #1390 closed

[2018-11-20 19:18] chrisfilo opened #1405 "Add sentry tags with number of CPUs and available memory"

[2018-11-20 19:18] chrisfilo opened #1406 "Add info about available disk space in the work dir"

[2018-11-20 19:19] chrisfilo opened #1407 "Tag memory and disk space issues"

[2018-11-20 19:19] effigies commented on #1405
Just a quick note to distinguish system memory/cores from requested memory/cores. Both are probably useful. A little weird because local environments, it'll be the former that's more relevant to performance, while the latter is more likely to match up with enforced limits in cluster environments.

[2018-11-20 19:23] sentry-io[bot] opened #1408 "Make sure inputs are BIDS compatible prior to running fmriprep"
Add a flag allowing people to disable the check.  Consider elevating some warnings (for example missing phase encoding direction) from warnings to errors via a config flag.

Alternatively, use strict mode from pybids.

[2018-11-20 19:28] sentry opened #1409 "tcompcor: IndexError: cannot do a non-empty take from an empty axes."
Sentry Issue: [FMRIPREP-EJ](https://sentry.io/poldracklab/fmriprep/issues/769020021/?referrer=github_integration)

[code]

[2018-11-20 19:33] chrisfilo opened #1410 "Add fsdir a random name"

[2018-11-20 19:43] chrisfilo opened #1411 "Log fmriprep-docker as exec_env in sentry"

[2018-11-20 20:01] effigies commented on #1411
It occurs to me that we could also include Docker version and OS info if we're passing things in from `fmriprep-docker`...

[2018-11-20 21:50] #1403 closed

[2018-11-20 21:55] chrisfilo commented on #1402
I tested a couple of singularity and docker systems and cannot find an indication of why our heuristics might be inaccurate.

[2018-11-20 22:39] chrisgorgo opened #1415 "Creating workflows is surprisingly slow"
It takes 6-7 sec to create a workflow for a single bold run. This means that if I have a dataset with 10 subejcts, 2 sessions and 5 runs (ds000114) it will take almost 12 minutes until the combined workflow will start running.

I suspect that repetetive indexing via pybids might be the cause.

[2018-11-20 23:52] oesteban commented on #1415
@effigies is there a way that we can multithread pybids reusing an existing ProcessPool?

[2018-11-21 00:01] effigies commented on #1415
If bids-standard/pybids#285 is any indication, the bottleneck is actually a huge number of calls to `os.stat`, which isn't going to parallelize well, as filesystem syscalls will end up serialized by the kernel.

[2018-11-21 14:41] hstojic commented on #1387
Hello,

I got the same error with one of my datasets:

[code]

Here is the crash file:
[crash-s016.txt](https://github.com/poldracklab/fmriprep/files/2604609/crash-s016.txt)

I ran it twice, failing the same way both times - but now I will try deleting the files and see whether it succeeds.

[2018-11-21 15:39] #1371 closed

[2018-11-21 15:42] effigies commented on #1387
The quick fix will be to remove `indexed_gzip` from our Docker images. Given that this is popping up so frequently now, I think we'll need to in the short term.

[2018-11-21 21:52] #1400 closed

[2018-11-21 23:34] effigies commented on #1387
@hstojic If you can find a failing file, could you send it along to @pauldmccarthy in pauldmccarthy/indexed_gzip#15.

[2018-11-25 00:40] #1407 closed

[2018-11-25 00:42] #1405 closed

[2018-11-26 17:28] yidilozdemir opened #1423 "sentry attempting error message with --anat-only"
Hello,

I run fmriprep with the command with different memory/thread configurations to troubleshoot a possible memory problem
`docker run --rm -it -v /home/vm01/local/freesurfer/license.txt:/opt/freesurfer/license.txt:ro -v /home/vm01/local/freesurfer/ds002:/data:ro -v /home/vm01/local/freesurfer:/out poldracklab/fmriprep:1.2.3 /data /out participant --anat-only --mem_mb 15000 -vvv --omp-nthreads

[2018-11-26 17:36] effigies commented on #1423
I suspect this is actually a success report... We're trying to get a sense of what proportion of jobs complete successfully, and not merely accumulate errors. @chrisfilo Would a success report appear this way?

[2018-11-26 18:53] chrisfilo commented on #1423
Yes correct -  the sentry message can be ignored.

To check if FMRIPREP run correctly you can:
1. Look at the exit code - if it's anything else than 0 means that there were errors
2. Check HTML reports for error.

[2018-11-27 01:14] yidilozdemir commented on #1423
Thank you!

[2018-11-27 02:02] #1423 closed

[2018-11-27 18:13] sentry-io[bot] opened #1424 "Provide better feedback for singularity mounting issues"
Sentry Issue: [FMRIPREP-AZ](https://sentry.io/poldracklab/fmriprep/issues/758387601/?referrer=github_integration) is predominantly triggered by singularity users. We need to provide better feedback/documentation on how to handle binding folders.

[2018-11-27 19:55] wiheto opened #1425 "Add TR to functional summary reports"
The TR information appears to be missing from the functional summary reports.

[2018-11-28 00:59] wiheto commented on #1393
I ran into the same problem.

I dug into this and it appears to be that, during plotting, a problem in how niworkflows calls a utility function from nilearn which drops the header in some instances. I have submitted a fix of this issue to nilearn (https://github.com/nilearn/nilearn/pull/1872).

[2018-11-28 17:49] #1408 closed

[2018-11-29 05:23] chrisfilo opened #1427 "'finished without errors' signal is being sent even if 'invalid license' signal occurs"

[2018-11-29 05:46] MetaD commented on #801
@pauldmccarthy I tried again and no error this time :) Thank you!

[2018-11-29 22:11] #1034 closed

[2018-11-29 22:52] #1135 closed

[2018-11-30 21:50] effigies opened #1428 "Additional sentry metadata"
In yesterday's meeting, we had some additional metadata we wanted to add before release.

* [x] overcommit policy (`/proc/sys/vm/overcommit_{memory,ratio,kbytes}`)

[2018-11-30 21:50] effigies commented on #1428
I think there were a couple others, but I can't really remember...

[2018-12-03 19:33] glatard opened #1430 "Installation from a fresh virtualenv doesn't install numpy"
Using Python 3.6.6 in a fresh virtualenv:
[code]
Sorry for not fixing this, I've tried to add `numpy` to various places where dependencies seems to be listed but couldn't find the right one yet.

[2018-12-03 21:09] oesteban commented on #1430
The issue is that numpy is a setup require (https://github.com/poldracklab/fmriprep/blob/master/setup.py#L82).

I think that unfortunately, setuptools cannot install them ahead of time (it is a chicken and egg problem: setup.py imports numpy before it fetches the dependencies).

The only way of overcoming this is improving documentation. Alternatively, adding it to the requirements.txt and asking

[2018-12-04 05:05] sentry-io[bot] opened #1432 "Only list labels of failed participants"
Sentry Issue: [FMRIPREP-NS](https://sentry.io/poldracklab/fmriprep/issues/791627707/?referrer=github_integration)

[code]

[2018-12-04 16:36] gb4944 opened #1433 "Multi echo: tCompCor - numpy.linalg.linalg.LinAlgError: SVD did not converge"
Hello all,
An older error I saw in a previous solved issue seems to have reappeared when I tried to run fmriprep on a multi echo dataset. Version 1.2.3 previously ran on the same data without any errors, but when I updated to 1.2.4 today, I got an error saying that SVD did not converge. Previous work directories were removed, and outputs were moved elsewhere before running fmriprep 1.2.4.
The full

[2018-12-04 20:00] sentry-io[bot] opened #1434 "ValueError: dictionary update sequence element #0 has length 1; 2 is required"
Sentry Issue: [FMRIPREP-P4](https://sentry.io/poldracklab/fmriprep/issues/792901321/?referrer=github_integration)

[code]

[2018-12-04 20:36] chrisfilo commented on #1434
Fingerprint needs to be a list. My bad.

[2018-12-04 21:01] #1434 closed

[2018-12-06 03:06] #1427 closed

[2018-12-06 10:53] PaulZhutovsky opened #1436 "Documentation: Command line argument descriptions vanished"
Hey!

I just noticed that the description of all command-line arguments for [fmriprep](https://fmriprep.readthedocs.io/en/stable/usage.html#command-line-arguments) has disappeared in the stable version.
A quick check showed that the last time a description was shown was in [version 1.2.3](https://fmriprep.readthedocs.io/en/1.2.3/usage.html#command-line-arguments).

Maybe something went wrong durin

[2018-12-06 14:52] effigies commented on #1436
Thanks for the heads up! We should definitely fix this.

The test documentation builds [succeed](https://6716-53175327-gh.circle-artifacts.com/0/home/circleci/out/docs/usage.html#command-line-arguments), so it's likely to be a ReadTheDocs issue. Seems like [ReadTheDocs](https://readthedocs.org/projects/fmriprep/builds/8195073/) is having trouble loading fMRIPrep modules, as they check for director

[2018-12-06 18:50] #1432 closed

[2018-12-10 10:22] shirareznik commented on #1433
Facing the same issue (multi-band dataset).
Any planning information would be valuable.
Many thanks!

[2018-12-10 14:09] effigies commented on #1433
@shirareznik Is your dataset also multiecho? Multiecho handling changed between 1.2.3 and 1.2.4.

@emdupre Do you know if this is expected if we run `tCompCor` on the optimal combination of echoes? Are *CompCor even valid measures on combined BOLD runs?

[2018-12-10 14:48] shirareznik commented on #1433
@effigies ,
Yes, it is.
Thanks!

[2018-12-10 15:17] effigies commented on #1433
Looking at #1010, it may be that we should skip CompCor for multiecho datasets.

@shirareznik @gb4944 Just as a couple data points, were either of you intend to use the CompCor regressors?

[2018-12-10 15:36] gb4944 commented on #1433
Thanks for the response! ME-ICA would be preferable for noise correction, but I couldn't find any options regarding it in the latest version of the fmriprep documentation.

[2018-12-10 15:39] effigies commented on #1433
No, it is not currently implemented. The question is whether CompCor is useful for multiecho data, in its absence.

We're also happy to get contributions from people with more multiecho experience in implementing MEICA, of course.

[2018-12-10 15:54] emdupre commented on #1433
Hi,

Thanks for reporting these issues ! Just to confirm, is this affecting all multi-echo runs, or only specific ones ? I've run several datasets myself locally and not encountered this error, so just trying to understand why !

That being said, I would discourage _interpreting_ tCompCor measures from the optimal combination. This was the update in 1.2.4, that we switched from individual echos re

[2018-12-10 16:18] gb4944 commented on #1433
@effigies I see, that explains that! I was not intending on using tCompCorr in place of it.
@emdupre That's good to know, thank you! I've only tested a subset of subjects the dataset, but the error appeared for all of them when processing the first functional run.

[2018-12-10 16:53] effigies commented on #1433
@gb4944 Thanks for the response. Just to be sure, your derivatives otherwise look sensible? You should be getting reports and derivatives that don't depend on the confounds, and the reports should show the masks of voxels passed to CompCor. With SVD failures, the main thing we can control is whether we're giving sensible data to the process; if the data is good and it's still just failing, all we

[2018-12-11 02:13] sentry-io[bot] opened #1439 "gen_cifti: value: ['fsaverage6', 'fsaverage5', 'sub-50061']"
Sentry Issue: [FMRIPREP-QC](https://sentry.io/poldracklab/fmriprep/issues/796836328/?referrer=github_integration)

[code]

[2018-12-11 16:28] sentry-io[bot] opened #1440 "ValueError: dictionary update sequence element #0 has length 13; 2 is required"
Sentry Issue: [FMRIPREP-Z9](https://sentry.io/poldracklab/fmriprep/issues/803315769/?referrer=github_integration)

[code]

[2018-12-11 17:36] chrisfilo commented on #1433
+1 for graceful handling non converging SVD (since there is no known solution). There were 12 such errors reported in the past couple of weeks (https://sentry.io/poldracklab/fmriprep/issues/774850143/?query=is%3Aunresolved)

[2018-12-12 11:17] gb4944 commented on #1433
@effigies Thank you for the suggestion! I re-ran fmriprep for one subject to look at the rest of the derivatives, and it appears that the input to CompCorr doesn't look entirely correct, especially in the top right corner of this image. No errors occurred using the same files with 1.2.3.

![subjectbrainmask_me_fmriprep](https://user-images.githubusercontent.com/39733302/49865507-69e97800-fe05-11e8

[2018-12-12 12:20] emdupre commented on #1433
Just to clarify: the reason this is new with 1.2.4 is that effectively you are processing a different file, since you are deriving CompCor measures from the optimal combination rather than any individual echo. If you would like to process individual echos instead, I've added the `--echo-idx` flag.

But what you're seeing is actually an older issue, see: https://neurostars.org/t/weird-brain-mask-in

[2018-12-12 13:10] gb4944 commented on #1433
@emdupre Good point, the grid pattern is not present in the brain mask. Other parts that are missing or outside of the brain seem consistent with the image from the report that I posted.

[2018-12-12 13:57] effigies commented on #1433
@gb4944 Your aCompCor (magenta) and tCompCor (blue) masks look reasonable. I note that your BOLD mask seems to be cropping rather more than it should... This image is from the 1.2.4 run?

[2018-12-12 14:45] gb4944 commented on #1433
@effigies Yes, it's from 1.2.4.

[2018-12-12 15:39] effigies commented on #1433
Could you go ahead and open a new issue for that? Also, are you using single-band references, or just the BOLD series?

[2018-12-12 16:03] gb4944 commented on #1433
@gb4944 Just the BOLD series.
I'll open a new issue. Thanks for the help!

[2018-12-12 16:13] gb4944 opened #1442 "BOLD brain mask cropping (multi echo data)"
As shown in this image (grid pattern in top right corner is not a brain mask but a report issue), parts of the brain are missing from the mask:

![subjectbrainmask_me_fmriprep](https://user-images.githubusercontent.com/39733302/49882186-5bfd1c80-fe30-11e8-9e7c-f792ff0ff35c.PNG)

[2018-12-12 16:16] effigies commented on #1442
@emdupre How much of the original BOLD series would we need to reproduce the reference T2* map? Would, say, the first 50 volumes of each echo suffice?

[2018-12-13 12:30] effigies commented on #1433
@gb4944 @shirareznik If either of you is running with `fmriprep-docker`, could you do the following, to run in developer mode?

[code]

[2018-12-13 12:46] #1428 closed

[2018-12-13 13:11] shirareznik commented on #1433
Of course- I'll run it soon and update you.

On Thu, Dec 13, 2018 at 2:30 PM Chris Markiewicz <notifications@github.com>
wrote:

[2018-12-13 16:33] #1290 closed

[2018-12-13 16:48] emdupre commented on #1442
Sorry for the delay-- Yes, 50 volumes should be fine !

[2018-12-13 16:51] effigies commented on #1442
Thanks. @gb4944 Would you be willing to share the first 50 volumes of each of your echos? We can use them to improve the quality of our mask generation.

[2018-12-13 16:55] #1440 closed

[2018-12-13 19:54] hstojic opened #1444 "making .bib file available in the log folder"
Hello,

for those of us using LaTeX to write papers it would be great to include the .bib file used to generate the CITATION files. It's a bit cumbersome to find it in a singularity container, so that I can simply copy those references in the bib file for my article. For the reference, if anybody else is interested in how to dig it up in your singularity container, here is the command:

[code]

Th

[2018-12-13 20:16] effigies commented on #1444
Yes, this would be good to include in the derivatives. Would you be interested in contributing a patch?

[2018-12-13 20:37] hstojic commented on #1444
Sure, just point me in the direction of a script that generates CITATION files and I'll send a pull request.

[2018-12-13 20:49] effigies commented on #1444
@oesteban The CITATIONs were your baby... Do you know off the top of your head where it's copied?

[2018-12-13 20:57] oesteban commented on #1444
CITATION versions are generated here: https://github.com/poldracklab/fmriprep/blob/db956bb9ec43256ad9e31904f9e438ea6170fac8/fmriprep/cli/run.py#L749

FYI, the bib references are appended into the html report, within the Latex tab.

[2018-12-13 21:01] effigies commented on #1444
I think if we're going to output the `.tex` file, we might as well output the `.bib` file, though. So we should probably just add a `shutil.copyfile()` there.

[2018-12-14 03:32] chrisfilo commented on #1436
I just noticed this as well.  We should probably make a quickfix release after fixing this.

[2018-12-14 09:08] hstojic commented on #1444
Ah, that's true, they are in .html report of every subject, I haven't looked there actually. Still, it would save some time looking for them if the whole bib file is simply placed in the logs folder as well.

[2018-12-14 09:11] hstojic commented on #1444
I filed a quick pull-request: #1446

I have to admit, didn't do the whole patch thing as described in the fmriprep docs, it seemed small enough change to go without it.

[2018-12-14 13:01] gb4944 commented on #1442
@effigies Yes, is there a particular place where I could send or upload them to?

[2018-12-14 14:07] effigies commented on #1442
Any way you would like to share it is fine with me. If it's okay with you, we would publish those truncated series for our regression tests, which run with every commit to make sure that BOLD mask quality doesn't suffer as we make changes.

[2018-12-14 14:46] effigies commented on #1433
@gb4944 @shirareznik Hi, any updates? I can't off the top of my head think of a way of generating a synthetic dataset that will consistently fail to converge with SVD, so if you could verify that this produces `NaN` confounds and doesn't crash, that would be a good test.

[2018-12-14 14:59] gb4944 commented on #1442
@effigies
The files are located here: https://drive.google.com/drive/folders/1oE2BW39TaYuj80iEh8SryUS58wwEYubK?usp=sharing
I included the full BOLD series in 'full', and the first 50 volumes only in 'truncated'. I hope this will be useful to you!

[2018-12-14 15:16] gb4944 commented on #1433
@effigies Apologies for the delay, unfortunately I don't think I have the permissions required to run this on the server where the data is stored. I will ask about it and update you if I can get it to run.

[2018-12-14 15:19] effigies commented on #1433
@gb4944 No worries. If you're running it on a cluster, it'll be difficult. We can always just try it and see if the next release fixes your issue.

[2018-12-14 21:54] effigies commented on #1444
Closed in #1446.

[2018-12-14 21:54] #1444 closed

[2018-12-14 22:07] adelavega commented on #707
Here's another dataset that has skulled-stripped anatomicals on OpenNeuro: https://openneuro.org/datasets/ds001110/versions/00003

[2018-12-15 06:40] BSegula opened #1448 "Broken Process Pool - maybe not RAM related"
I keep running into the same problem trying to run my analysis in fmriprep.

This is the command I'm running in the Mac terminal:
`docker run -m="11.5g" --memory-swap="40g"  -ti --rm -v /Users/Blake/Documents/angular/Nifti:/data:ro -v /Users/Blake/Documents/angular:/out -v /Users/Blake/licenses/freesurfer/license.txt:/opt/freesurfer/license.txt poldracklab/fmriprep:latest /data /out/out participan

[2018-12-15 21:07] #947 closed

[2018-12-16 05:07] #952 closed

[2018-12-17 22:10] rtxj89 commented on #1057
Hi,

I have a follow-up tangential question for OP. I see that you have run the freesurfer scans through the longitudinal pipeline. How do you specify for fmriprep for them to use the longitudinally processed directories for each timepoint and not the original cross-sectional freesurfer output directories?

[2018-12-17 22:47] effigies opened #1449 "Docs no longer building"
Unclear why this started happening.

[code]

[2018-12-18 04:58] oesteban commented on #1449
Shouldn't that be python 3.7 since #1398?

[2018-12-18 05:37] oesteban commented on #1449
This is the probable cause of this problem: https://github.com/poldracklab/fmriprep/pull/1438/files#diff-85987f48f1258d9ee486e3191495582dL60

Cleaning up dependencies I cleared that up by mistake.

[2018-12-18 06:04] BSegula commented on #1448
I managed to get it working by using the plugin you suggested, thank you.

[2018-12-18 06:04] #1448 closed

[2018-12-18 06:21] #1449 closed

[2018-12-18 19:05] tjhendrickson opened #1453 "Issue Running Latest Release Withing Singularity Image"
Hello,

When I try to run the latest release (1.2.5) as a singularity container on a HPC system. I get the following errors:
  File "/usr/local/miniconda/bin/fmriprep", line 11, in <module>
    sys.exit(main())
  File "/usr/local/miniconda/lib/python3.6/site-packages/fmriprep/cli/run.py", line 271, in main
    if 'docker' in Path('/proc/1/cgroup').read_text():
  File "/usr/local/miniconda/lib/pyth

[2018-12-20 01:32] #1453 closed

[2018-12-20 13:43] rciric opened #1457 "Support for ANATICOR/generate local WM time series"
Now that `3dLocalStat` has a Nipype wrapper, it should be fairly straightforward to add the capacity to generate a local/voxelwise white matter regressor and thus enable running [ANATICOR](https://www.hindawi.com/journals/jam/2013/935154/)-like denoising streams on fmriprep output. (I imagine that this would be low-priority.)

[2018-12-20 13:43] rciric opened #1458 "Anatomical CompCor enhancement"
* Allow anatomical CompCor to operate separately in WM and CSF compartments (`w_comp_cor` and `c_comp_cor` according to [BEP012](https://docs.google.com/document/d/16CvBwVMAs0IMhdoKmlmcm3W8254dQmNARo-7HhE-lJU) and [RC1](https://docs.google.com/document/d/17ebopupQxuRwp7U7TFvS6BH03ALJOgGHufxK8ToAvyI/edit#heading=h.dbfk7w8jo2wp)). Whereas the original approach described by [Behzadi and colleagues](h

[2018-12-20 17:04] oesteban commented on #1458
They are worthwhile indeed. Please go ahead :)

[2018-12-21 19:11] oesteban opened #1460 "Horrible BOLD brain mask: ds000109/sub-10"
Potentially an Xform issue since other runs of the same subject look good.

![ds000109-horrible-bold-mask](https://user-images.githubusercontent.com/598470/50359238-e28cba80-0510-11e9-9bed-0b8c74874a81.png)

[2018-12-21 19:45] f003mrp opened #1461 "docker install issue on windows"
Trying to get a docker to singularity image made. I get an error that seems to be problematic for docker where tar is unable to function correctly due to overlay. Tried switching to overlay2 with no success. Docker suggests using bsdtar instead of tar but I am unable to get this functioning.

[2018-12-21 21:57] oesteban commented on #1461
Hi, you can get the latest fmriprep singularity image from here: https://www.dropbox.com/s/mfmzqtpx88bg9o4/poldracklab_fmriprep_1.2.5-2018-12-04-2ef6b23ede2a.img?dl=0

Other than that, we'll need a better description of everything you've tried and settings because it is not clear at all from your post.

[2018-12-22 02:33] #1388 closed

[2018-12-23 03:36] f003mrp commented on #1461
Thanks for sending that over.

So I am using the current version of docker on a windows 10 64-bit machine.

Following the instructions on the fMRIprep webpage I run this code (using my computer's directories):

docker run --privileged -t --rm \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v C:\to\my\output\image:/output \
    singularityware/docker2singularity \
    poldracklab/fmriprep

[2018-12-26 20:33] #896 closed

[2018-12-27 16:59] oesteban commented on #1152
regardless the nilearn version, this could be easily fixed improving the bounding box calculation to exclude slices with few pixels in the mask.

For instance, in the latest examples from @mpcoll, we can see how the first row is mostly brain stem in the two first cuts, and empty or almost empty in the last cut. In other words, those three cuts are almost useless. Surprisingly, for the coronal view

[2019-01-02 00:54] #901 closed

[2019-01-02 00:54] #897 closed

[2019-01-04 20:19] pettitta commented on #1212
Hi, I know I'm late to the game here, but I'm running into the same issue and I can provide you with what you're looking for. Official freesurfer instructions can be found [here](https://surfer.nmr.mgh.harvard.edu/fswiki/LongitudinalProcessing)

For a single participant, with two time points, I first run a cross sectional recon-all for each time point

Time 1:

`recon-all -i /BIDS_data/"${SUBID}"/

[2019-01-05 00:10] chrisgorgo opened #1462 "fmriprep-docker does not auto mount --template-resampling-grid arguments"
https://neurostars.org/t/template-resampling-grid-my-locally-stored-template-nii-gz/3144

[2019-01-05 17:14] jcrdubois commented on #1025
Hi all, I just recently started trying out fmriprep, after using predominantly HCP pipelines for a while. Has there been any progress on this issue? It would indeed be useful to output data that is in the same space as the HCP minimal preprocessing pipelines output. I can look into it with some guidance, if nobody else has time/interest to work through the issue.

[2019-01-07 12:35] heikestein opened #1463 "N4BiasFieldCorrection error in sbref image"
Hi,

first of all, thank you for your great effort in standardizing preprocessing pipelines!
For now, I am trying to run a workflow with
- 2 bold series with MB factor 3 (bad contrast)
- 1 sbref series collected before run-01 for registration with T1 (high contrast)
- 1 T1w
- 1 phasediff+ 2 magnitude fmap images.

I am not quite sure why the workflow doesn't like my data - it fails on the bold_ref

[2019-01-07 20:09] oesteban commented on #1463
Hi @heikestein, if you could provide us with one subject that fails (shared privately) we could try to figure out what is the problem.

If there are some sharing concerns, maybe providing only one of the bold series (run-01 seems to be failing, that should be enough), and cropping it to the first 50 timepoints will make it useless for research objectives but more than enough to replicate the probl

[2019-01-07 20:13] effigies commented on #1463
@oesteban It sounds like it's failing on an `sbref`, not a `bold` image.

[2019-01-07 20:19] oesteban commented on #1463
I know, but I suspect this problem will uncover deeper problems in the workflow for when sbrefs are present. Having a failing dataset will speed up the process a lot (and that's also why I saved the due explanation of the issue for when I know exactly what is happening, I owe you that @heikestein ).

:+1:

[2019-01-08 10:14] heikestein commented on #1463
Hi Oscar, hi Chris,

thanks for getting back to me so quickly.
I shared an example participant in Dropbox, including all images that I fed in the pipeline myself when getting the error. Feel free to crop/use only one run for speeding up the process.
Note that I manually copied the run-01_sbref (acquired before run-01), and renamed the copy as run-02_sbref, as I think your pipeline didn't recognize

[2019-01-08 18:45] #1374 closed

[2019-01-08 18:51] oesteban commented on #881
See https://github.com/poldracklab/smriprep

[2019-01-08 18:51] #881 closed

[2019-01-08 19:02] oesteban commented on #1213
Renamed to `--sloppy`

[2019-01-08 19:02] #1213 closed

[2019-01-08 19:18] oesteban commented on #1392
Sure! Please do send a PR :)

[2019-01-08 19:19] oesteban commented on #1372
Hi @tragus1, could you share some data for us to replicate your issue?

[2019-01-09 08:06] hstojic commented on #1392
Will do!

[2019-01-09 18:55] ebridge2 opened #1465 "Why is this data not recognized as in bids specification?"
With the following data:
[code]
I obtain the following error:
[code]
which would appear to me/`pybids` to be valid bids spec, as we can see the response from `pybids` is:
[code]

[2019-01-12 19:32] oesteban commented on #1461
I would say this is an issue from running `singularityware/docker2singularity` on a Windows filesystem. But I don't think this is an fMRIPrep's problems itself.

Please force an update of the docker2singularity image and try again. If the problem persists, please report the issue in their repository.

[2019-01-12 19:32] #1461 closed

[2019-01-12 19:33] oesteban commented on #1442
@effigies @emdupre were you able to replicate this one?

[2019-01-12 19:35] oesteban commented on #1430
Hi @glatard, do you think my reply addressed the issue? Although I couldn't give you any solution on fMRIPrep's side, do you think we can close this one?

[2019-01-12 19:37] oesteban commented on #1392
Closing and looking forward to the PR with improved documentation :)

[2019-01-12 19:43] oesteban commented on #1300
Hi @jdkent, I'd like to revamp this issue. Do you have the bandwidth and appetite to look into this?

[2019-01-12 20:37] jdkent commented on #1300
Yeah, I can pick this up.

[2019-01-13 01:08] glatard commented on #1430
yes, I guess you can close it, thanks!

[2019-01-13 13:20] #1430 closed

[2019-01-14 00:06] #1051 closed

[2019-01-14 00:13] #1110 closed

[2019-01-14 00:15] oesteban commented on #1360
Is this a duplicate #1317 ?

[2019-01-14 18:02] KirkGraff opened #1469 "Run fieldmapless distortion correction on its own"
Hi all,
I'm trying to compare different ways to preprocess my data, and I'm wondering if it is possible to run only fieldmapless susceptibility distortion correction without all the other steps of fMRIprep? I'm hoping I can input an already skull stripped T1 file and a bold file and obtain a distortion corrected bold file (with a transformation matrix).

Also, would it be better to use an already

[2019-01-16 02:17] jdkent opened #1470 "Question: purpose of ubuntu.tar.gz"
I am using the fmriprep `.circleci/config.yml` as a template for [NiMARE](https://github.com/neurostuff/NiMARE) (e.g. neurostuff/NiMARE#62) (this config has a lot of useful features! :100: ), and I am curious what the purpose of the [ubuntu.tar.gz](https://github.com/poldracklab/fmriprep/blob/dd0f4d4dfc26b107dfd9073760c2d03940051552/.circleci/config.yml#L24) is and whether it is necessary.

[2019-01-16 03:07] jdkent commented on #1470
I see, thanks! I linked where the image gets loaded from the cache, but where/when did the image get first saved to cache? I couldn't see an obvious command that said to save `ubuntu.tar.gz` in cache.

[2019-01-16 03:22] effigies commented on #1470
Oh, looks like it's gone. We can probably remove that line, then.

[2019-01-16 14:38] heikestein commented on #1463
Hi @oesteban, I wanted to check in on whether you had time to look at the bref preprocessing problem already. I am going to see our collaborators in Charité Berlin for the weekend to set up a larger study and preprocessing pipeline, and I wanted to propose them to use fMRIprep for preprocessing. Ideally, I wanted to show some results, as to convince them that this is the easiest way to handle our

[2019-01-16 14:46] emdupre commented on #1470
Major :heart_eyes_cat: to that, @jdkent ! I think all we need to do is add the right issue label(s).

[2019-01-16 22:38] zanderso13 opened #1471 "Spike detection part of newest version?"
Hello!

Someone in my lab came across this link

https://github.com/poldracklab/fmriprep/issues/699

Which appeared to indicate that spike detection was being applied at the subject level. But when we went through the documentation we didn't see anything indicating this had been implemented. I wanted to check in to see if spike detection is part of the current fmriprep pipeline and if so, is it be